[2018-08-28 14:54] qti3e commented on #308
@aichholzer I'll do it : )
But besides making a new directory in `/node`, what files I'm supposed to modify to register the new test?

[2018-08-28 15:28] waghanza commented on #308
@qti3e all `app.js` on sub-folder in `node` directory (one subfolder per framework)

[2018-08-28 15:36] #326 closed

[2018-08-28 18:45] waghanza commented on #270
Fixed by #324

[2018-08-28 18:45] #270 closed

[2018-08-28 21:35] OvermindDL1 commented on #87
Lol wow!  I havn't heard from ChicagoBoss in nigh-on a decade!!

Does it still exist?  Is it still being developed?  I played with it a *long* time ago and made a couple of mini things in it.  ^.^

[2018-08-28 21:42] waghanza commented on #87
@OvermindDL1 seems that `ChicagoBoss` is still maintained, https://github.com/ChicagoBoss/ChicagoBoss/releases

[2018-08-28 21:52] OvermindDL1 commented on #87
Huh wow, slow but persistant development.

At least back in the day it wasn't the fastest thing out but it was really easy to get going so I doubt it would score well, but it would be interesting to see regardless.

Keep pinging me on occasion about this.  Work is crunch-time lately so my free time has gone out the window...  ^.^;

[2018-08-28 21:54] OvermindDL1 commented on #87
Adding in the other big frameworks of the day might be interesting too.  Nitrogen was a personal favorate, though this test completely makes it's big features useless, it basically lets you write like a little GUI kind of thing, controlled by the server so the client is just an interface in to it, fascinating little design (although Phoenix can do that nowadays too via it's Drab plugin).

[2018-08-29 01:31] aichholzer commented on #118
Thank you for this @kalicki  -I will try to get this into our next release cycle. Also, you are most welcome to submit a PR if you already have experience with Adonis.

[2018-08-29 01:36] aichholzer commented on #308
Closing this as the issue has been moved to [this ](https://github.com/the-benchmarker/web-frameworks/pull/329) PR.

[2018-08-29 01:36] #308 closed

[2018-08-29 01:40] aichholzer commented on #184
@andymans  -[This](https://github.com/the-benchmarker/web-frameworks/issues/184#issuecomment-390504008) is probably the best and most to-the-point comment I have ever read on a code thread. I keep giggling every time I read it...
😆

[2018-08-29 07:21] waghanza opened #331 "Jester failure"
Hi @dom96,

`jester` is failing on our last run, https://travis-ci.com/the-benchmarker/web-frameworks/jobs/142574924

Could you get me a quick feedback on the error message on this line https://travis-ci.com/the-benchmarker/web-frameworks/jobs/142574924#L754 ?

Regards,

[2018-09-01 10:50] dom96 commented on #331
That's really strange. All I can say is: the dockerfile for techempower is working fine. Try checking what the differences are?

[2018-09-01 11:11] waghanza commented on #331
The only diff I found (on `Dockerfile`) is that techempower copy all file in dir, and we only pick somes
+ server_nim_jester.nim
+ server_nim_jester.nimble

I've not enough skill to know what files are needed :stuck_out_tongue:

The error is :

[code]

[2018-09-01 12:12] waghanza opened #335 "Introduce rosencrantz"
+ Language : Nim
+ Repo : https://github.com/andreaferretti/rosencrantz
+ Author : @andreaferretti

[2018-09-02 19:15] dom96 commented on #331
Yeah, that error isn't very helpful sadly. Try using techempower's dockerfile exactly?

[2018-09-03 08:14] andreaferretti commented on #335
Let me know if you need any help for this!

[2018-09-03 09:01] waghanza commented on #335
@andreaferretti sure, if you have time to implement a webserver folowing the rule :

+ GET '/' return status code 200 with empty body
+ GET '/user/:id' return status code 200 with the id
+ POST '/user' return status code 200 with empty body

it will be awesome :heart:

I have to `nim` skills, but if you don't I will try to learn :stuck_out_tongue_winking_eye:

[2018-09-03 12:23] mfirry opened #336 "Add http4s"
+ Language : Scala
+ Repo :   https://github.com/http4s/http4s
+ Author : @rossabaker

[2018-09-04 10:39] greed2411 commented on #290
`Cyclone runs on Python 2.5, 2.6 and 2.7` you sure you want to proceed even after that?

[2018-09-04 10:50] waghanza commented on #290
:tada: Good catch ! ! !

We could close ;-)

[2018-09-04 10:53] waghanza commented on #290
@greed2411 need to follow the `state of art` :stuck_out_tongue_winking_eye:
`python3` seems to be discussed here => https://github.com/fiorix/cyclone/issues/177
and even of `python3` **fork** was created here => https://github.com/ygl-rg/cyclone3

[2018-09-04 11:04] waghanza commented on #184
@aichholzer the comment above is indeed very interesting, but the assumption that this project is trying to attract people in crystal community is wrong ;-)

[2018-09-04 11:29] stakach commented on #184
@vladfaust I did: https://github.com/the-benchmarker/web-frameworks/pull/333#issuecomment-417858485

[2018-09-04 11:31] waghanza commented on #184
ah ok, using `all available cores` on each machines ... has to be implemented on each **frameworks**

if you have time to `PR`, I'll be glad to `learn` :heart: or I'll implement later :stuck_out_tongue:

[2018-09-04 17:10] greed2411 opened #341 "add quart"
+ Language : python
+ Repo : [quart](https://gitlab.com/pgjones/quart)
+ Author : [pgjones](https://gitlab.com/pgjones)

[2018-09-04 18:34] #184 closed

[2018-09-04 21:05] waghanza commented on #341
@greed2411 we will have to choose between
+ Hypercorn
+ Uvicorn
+ Daphne
to replace frontend like `gunicorn` (according to the documentation, it is not recommanded to run on **production** with `built-in` server)

[2018-09-04 21:47] waghanza opened #345 "Choosing a code of conduct"
Hello,

As `our` **community** is growing fast (at least I hope, so :stuck_out_tongue_winking_eye:), it will be useful to choose a code of conduct, at least to be warm to `new comers`

@tbrand @aichholzer @OvermindDL1 any thoughts ?

Regards,

[2018-09-04 21:51] waghanza opened #346 "Choosing a license"
Hello,

I think we should license our work, at least to be clear about the intention / usages we think about

@tbrand @OvermindDL1 @aichholzer any thoughts ?

Regards,

[2018-09-04 21:57] OvermindDL1 commented on #345
I tend to just go with the Golden Rule, in general just be nice and be logical.  :-)

[2018-09-04 22:03] stakach commented on #345
I think the Rubinius code of conduct is pretty good: https://book.rubinius.com/manuscript/code_of_conduct.html

[2018-09-04 22:06] aichholzer commented on #345
Something smaller could look like [this](https://github.com/GetRayo/rayo.js/blob/master/CODE_OF_CONDUCT.md).

[2018-09-04 22:10] aichholzer commented on #346
To me a no-brainer; `MIT` license.

[2018-09-04 22:17] OvermindDL1 commented on #345
A couple notes, shorter is definitely better, even the shorter one that @aichholzer linked is still too long (so much so that no one will read it).  Also why do both of those have such limiting text like `As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, religion, or non-rel

[2018-09-04 23:05] stakach commented on #345
I do feel there should be some kind of accountability clause though. Some thing to give "be nice" teeth - just so people are aware of the possible consequences of their behaviour.

Possibly `Be nice and be logical or risk the removal of your project and/or a ban from further involvement in the community.`

[2018-09-05 16:11] OvermindDL1 commented on #345
Eh, except it's a Code Of Conduct, not Rules, just a Code, and for a Code that sounds very hostile, which I don't think is a great impression to give?  >.>

Plus that cost seems pretty usual as that is what happens about anywhere.

[2018-09-06 07:08] tbrand commented on #346
Agree with @aichholzer

[2018-09-06 07:10] tbrand commented on #318
I think I could close the issue since @waghanza working on this at https://github.com/the-benchmarker/web-frameworks/pull/330

[2018-09-06 07:10] #318 closed

[2018-09-06 07:54] stakach commented on #345
@OvermindDL1 that’s kind of the point
https://mor10.com/why-codes-of-conduct-matter/

[2018-09-06 10:34] eirnym commented on #23
Still no aiohttp?

[2018-09-06 14:28] eirnym opened #348 "Add aiohttp"
+ Language : Python
+ Repo : https://github.com/aio-libs/aiohttp/
+ Author : https://github.com/asvetlov
+ Documentation: https://docs.aiohttp.org/

[2018-09-06 14:30] OvermindDL1 commented on #345
That article seems quite biased, but I think I live in more of the second set rather than the first, that the rules are obvious because of standard human interactions and since they can be enforced then they should and will, and that the CoC is more of a reminder of how to act.  Trying to make a CoC too long, complex, or filled with examples makes it lose it's entire meaning instead of being to th

[2018-09-06 14:43] OvermindDL1 commented on #345
Even note in the article you linked, both 'examples' are easily covered by the 'Nice' clause.  And yet the article doesn't mention remaining on topic or being productive whatsoever, my 'Logical' part.

That article, near in full, seems to be a classic case of multiple logical fallacies, including but not limited to Ad Hominem for assuming how someone would react in a situation instead of dealing w

[2018-09-06 15:42] waghanza opened #349 "Display sieger configuration"
Hi,

As for now `wrk` is used as a **sieger**, but no information is display on resultset to show it.

I suggest to show some details (version, number of connections, threads ...) on resultset.

Regards,

[2018-09-06 15:44] waghanza commented on #348
@greed2411 It seems that you like `python`. Do you mind if I assign you `python ` **implementations** ?

[2018-09-06 16:37] greed2411 commented on #348
Alright. Thanks @waghanza but it needs to wait for few hours.

[2018-09-06 17:32] waghanza commented on #348
@greed2411 sure ... not a hury ...

This organisation let me focus on ruby stuff 😎

[2018-09-06 20:26] greed2411 commented on #299
i guess the issue could be closed? @waghanza

[2018-09-06 20:38] #299 closed

[2018-09-06 20:46] greed2411 commented on #341
@waghanza just discovered this:

[code]

over [here](https://gitlab.com/pgjones/quart). you okay with 3.7?

[2018-09-07 01:02] stakach commented on #345
I hear you @OvermindDL1 and totally agree that "be nice" is the solution for people everywhere.

But what do you loose by adding a document that you never have to even read that will make a bunch of people feel safe to contribute and comment?

It's not being added for the benefit of anyone involved in this conversation, probably not for most people involved in this project. Basically it does no ha

[2018-09-07 04:51] waghanza commented on #341
Sure, we could use it, at least on Docker, 3.7 is not available on AWS (too early stage) and I do not think either on digital ocean, but it's ok for me

[2018-09-07 06:04] ifplusor commented on #263
Because uvloop changed an method return type since 0.9.0. I fixed this in [
https://github.com/squeaky-pl/japronto/pull/133](url)

[2018-09-07 14:27] stakach commented on #345
So you disagree with what say https://book.rubinius.com/manuscript/code_of_conduct.html says?
If not then why not include it?
I don’t want to make it a binary issue (if you’re not with us then you’re against us) as I’m sure your hearts in the right place. But outside of “people should just know” what do you have against it, does it hurt you personally to know such a document is sitting in the repo

[2018-09-07 14:48] stakach commented on #345
I don’t personally know anyone either but I’ve seen a few conflicts play out in various projects. Rubinius being one of them - and the reason they have a code of conduct.
Libuv was a more recent one

https://www.reddit.com/r/KotakuInAction/comments/2thi8n/the_time_sjws_harassed_ben_noordhuis_out_of/

In any case I’m not saying it’s a silver bullet and really I’m not at all fussed either way if com

[2018-09-07 14:48] OvermindDL1 commented on #345
My issue is that it is not entirely encompassing.  All the ones linked so far, including that rubinius link, seem to focus primarily on certain things, here's an excerpt from that rubinius link:

Why are these pointed out at all?  Is it secretly trying to pick on certain people?  Is it trying to pick on 'these' people by being sarcastic?  Why is it not including of every attribute, what is special

[2018-09-07 15:07] OvermindDL1 commented on #345
@stakach Uh, wtf.... o.O

That is, uh... quite an interesting URL you posted there, I seem to be out of the loop...  Can some questions be answered about that URL's contents?

Who is 'Ben Noordhuis', I'm guessing a dev in libuv and nodejs, but why was he harassed?

What are SJW's?  New name for online 'trolls' or something?  'Troll' seems descriptive enough to me and it's been in use since the old

[2018-09-07 15:08] OvermindDL1 commented on #345
Still no clue what that has to do with a CoC though, nothing about the PR listed seemed to have an issue with *any* of the listed attributes of the person (as it shouldn't, a person's attributes don't matter in programming contexts, only their code output does).

[2018-09-07 15:11] OvermindDL1 commented on #345
Do you'll frequent an IRC channel yet or so?  Real-time would be so much more productive...  ^.^

[2018-09-07 15:15] stakach commented on #345
Nothing public... Also it's 1am on a Sat morning here (Australia) after an end of week bender, so about to hit the sack.
I'm in New York next week though - so no idea where you live but always up for a lively debate over a brew :)

[2018-09-07 19:37] waghanza opened #357 "Use community standard for code design"
Hi,

This project target **performance comparison** at the main idea, but **learning** **COULD** be a `great` thing :heart:

I know some languages, but I have no idea of any practices is somes, like `C#`

| Language | Standard | Tool |
| ------------- | ----------- | ------ |
| C++ | ClangFormat | [ClangFormat](https://clang.llvm.org/docs/ClangFormat.html) |
| C# | ? | ? |
| Crystal | Language des

[2018-09-07 19:51] OvermindDL1 commented on #357
Of the languages I know that are `?` above and where the formatters are often used:

* C++: [ClangFormat](https://clang.llvm.org/docs/ClangFormat.html) : (part of clang) : Standard setup is pretty well 'accepted' in the C++ world but it is entirely configurable
* Java:  [GoogleJavaFormat](https://github.com/google/google-java-format) : Gotten popular recently, it follows Google's Coding style
* El

[2018-09-07 19:54] waghanza commented on #357
Yeah ! ! ! :tada:

I'll add this to the list (as a reminder for me)

[2018-09-07 20:26] waghanza commented on #357
@dom96 @thiamsantos @kiliankoe @tanner0101 @mattzink Any ideas for missing tools ?

[2018-09-07 20:33] OvermindDL1 commented on #357
I don't think `scalafmt` is built-in, just adding it to a project dependency will acquire it, let me check...

Correct, it's not built-in, the line to add to the build file is like `addSbtPlugin("com.lucidchart" % "sbt-scalafmt" % "<version>")` or adjust for gradle or whatever build system is used (`sbt` is the scala standard build system, stands for Simple Build Tool, but scala works with any jvm

[2018-09-08 08:00] aichholzer commented on #345
Quite the debate going on here...
Let's wrap it up. I will take the lead here; we stick with the "standard" (for lack of a better word) and include a `CoC` in the next release. Thank you gentlemen.

[2018-09-08 08:00] #345 closed

[2018-09-09 16:43] proyb6 opened #360 "Fast-http-server for Crystal"
I suggest we could add in this in the benchmark.

+ Language : Crystal
+ Repo : https://github.com/sdogruyol/fast-http-server
+ Author : https://github.com/sdogruyol/

[2018-09-09 16:48] #336 closed

[2018-09-09 16:53] waghanza commented on #360
@proyb6 Thanks for your contribution. This project is not **static** server ?

[2018-09-09 18:07] #348 closed

[2018-09-09 18:54] waghanza commented on #291
The repo has been dropped

[2018-09-09 18:54] #291 closed

[2018-09-09 18:54] #290 closed

[2018-09-09 19:54] #341 closed

[2018-09-09 20:11] waghanza commented on #271
@OvermindDL1 what headers has to be sent in a standard HTTP request ?

[2018-09-09 22:54] proyb6 commented on #360
It’s serving static files, which would probably be useful for a separate categories on static benchmark.

[2018-09-10 04:48] waghanza commented on #360
Ok. I'll close

[2018-09-10 04:48] #360 closed

[2018-09-10 14:31] OvermindDL1 commented on #271
What version of HTTP?

Everything in this repo could easily be following HTTP/1.0 as no 'advanced' features virtualhosts are required, thus as far as I recall and of the RFC's I have up currently:

### HTTP/1.0

`GET / HTTP/1.0` is the most simple perfectly valid request.  HTTP/1.0 requires no headers.

However, a `Date` header is highly recommended, but is not hard Required (although a later RFC

[2018-09-12 06:56] tbrand commented on #323
OK. But still welcome candidates of new icons.

[2018-09-12 06:56] #323 closed

[2018-09-12 07:03] waghanza commented on #271
ok. I'll add some test to validate this (`HTTP/1.1` for now)

[2018-09-14 13:03] waghanza commented on #321
@DanielSokil we can do it :stuck_out_tongue: honestly I have not enough skill in **php** to do this, but I'm curious to see the diff between `swoole` and `php-fpm| / `nginx`

[2018-09-18 12:53] ohenepee opened #381 "Add RAM Usage"
Please add memory usage... and there's one more issue with the README.md... there's a title for the section **Latency** but no title for **Responses Per Second**

[2018-09-18 17:53] waghanza commented on #381
@ohenepee Thanks for your idea; There is 2 thinks here :
+ memory => It could be done, but I'll before work on running on cloud (but if you whish to contribute, I'll eb :heart: )
+ Responses per second : what do you mean ?

[2018-09-18 17:55] OvermindDL1 commented on #381
They mean that the table that contains the header `Requests / s` and `Throughput` does not have a markdown `## header` tag like the higher Latency section does.  :-)

[2018-09-18 17:57] waghanza commented on #381
ah ok, a display problem, I see
@ohenepee thanks for catch up

[2018-09-19 15:55] tanner0101 commented on #357
If I understand this correctly, the equivalent tool in Swift would be [SwiftLint](https://github.com/realm/SwiftLint)

[2018-09-19 19:47] waghanza opened #384 "Replace requitements.txt by pipfile ?"
Hi,

On `python`'s world, dependencies are managed with **requirements.txt**

It might be intersting to use [`Pipfile`](https://pipenv.readthedocs.io)

Regards,

[2018-09-20 09:01] greed2411 commented on #384
@waghanza if im not wrong, `Pipfile` is for `pipenv` right? `pipenv` is more of `npm`/`yarn` for python and replacing what `virtualenv` does. Since we use docker which is better than `virutalenv` , you still want to proceed?

[2018-09-20 09:12] waghanza commented on #384
@greed2411 in fact, I never tried `Pipfile`. I wanted to open this issue to have some **feedbacks** about that, and implement it here (if accurate).

Behind, we use https://www.dependencies.io to get in-sync with versions, and its recommended to switch to `Pipfile` (also because `Pipfile` have more **features**)

[2018-09-24 18:46] waghanza commented on #114
done in #386

thanks @GNURub

[2018-09-24 18:46] #114 closed

[2018-09-24 18:47] waghanza commented on #320
@doanguyen I close, feel free to re-open

[2018-09-24 18:47] #320 closed

[2018-09-26 16:54] jassim90 opened #395 "otb511"
+ Language :
+ Repo :
+ Author :

[2018-09-27 11:20] ohenepee commented on #381
Is there any ETA for the **running on cloud** ? @waghanza

What what cloud specs are we looking at?

[2018-09-27 11:39] waghanza commented on #381
Excellent question @ohenepee.

+ I will target [DigitalOcean](http://digitalocean.com) as `cloud` **provider** (since its first target are
**developers**)
+ I do not have `precise` **ETA** for this as I prefer taking time to learn / have solid foundations. However, I can plan that at **the end of the year** I will have this feature

[2018-09-27 11:40] waghanza commented on #395
Hi @jassim90,

What framework are you talking about ?

Regards,

[2018-09-27 11:50] ohenepee commented on #381
I'm very enthusiastic about this :smiley: . I would suggest that you add/use the lowest droplet _( 1 GB RAM, 1 vCPU, $5/mo )_  since **most developers** use that and don't go for full-blown 4-core / 8-core / 16-core droplets.. this way we can all both know the performance of the frameworks on minimal resources.

[2018-09-27 11:55] waghanza commented on #381
sure

The main idea is to create a **benchmarking** `tools` with _options_. I mean by default using the smallest droplets (to economize) and display here a result set produced automatically with **8 cores** droplet (the price will be afforded by http://digitalocean themselves)

[2018-09-27 16:18] OvermindDL1 commented on #381
Like omg there is no concurrency on that whatsoever?!  o.O
If you can even run on such a thing at all, then why do you care about performance as you'd apparently have little load as it is...  Most frameworks shine on high load, not low load...

[2018-09-27 17:43] ohenepee commented on #381
@OvermindDL1 I disagree... you are mixing concurrency with parallelism... concurrency happens on single cores all the time. Also the fact that **most frameworks shine on high load** is why there's the need to benchmark on a low spec server. Performance has little to do with server specs, it has more to do with _performant_ frameworks in this context.

[2018-09-27 17:54] OvermindDL1 commented on #381
Parallelism*  Which is what I meant*  ^.^;

Most frameworks shine on high load on parallelism.

Just pushing simple "" back is not much of a test, but having endpoints that 'actually' do work will make or break a site on how well they run in parallel.  Why do you think every single-core language, like say Ruby or Python, is put behind front-loaders that spawn multiple children to run the code, whi

[2018-09-27 18:05] ohenepee commented on #381
I get you point now... but while we're literally on the same topic, my point is about raw performance in a constrained environment (basically not every dev has extra bucks to spend... do you remember there was once a **POPULAR** tag on the 1GB RAM 1 vCPU droplet on the DO Pricing Page? DId it ever occur to you why that was popular? Not everyone is a startup, not everyone has extra bucks to budget

[2018-10-05 12:40] waghanza commented on #295
@tbrand ok ?

@dom96 I'm OK for your `PR` ;-) (and **jester** fix if you have time)

[2018-10-05 13:01] waghanza opened #400 "Marking flame as experimental"
Hi @AlexWayfer,

The actual version of `flame` (on **rubygems**) is `4.18.1`.

I prefer to show only framework that officially available.

I'll then mark `flame` as **experimental** (not show by default).

Be sure that when `5` will be release, I'll re-enable it on results.

OK for you ?

Regards,

[2018-10-05 13:07] waghanza opened #401 "Update akkahttp"
Hi @jrudolph @iPomme,

`akkahttp` implementation is still using the `10.0`

Do you mind helping us (we lack of `scala`  skills) in using last version, `10.1` ?

Regards,

[2018-10-05 13:13] waghanza opened #402 "Update aspnet core"
Hi @petersonfs @glennc @Eilon,

**ASP** implementation is here in `1.1`.

Do you mind helping us porting to `2.1` ?

Regards,

[2018-10-05 13:19] waghanza opened #403 "Update perfect"
Hi @kiliankoe,

[Perfect](http://perfect.org) is using `3.0`

Do you mind **helping** us reach the last release, `3.1` ?

Regards,

[2018-10-05 13:23] waghanza opened #404 "Update http4s"
Hi @mfirry,

We are using `0.0.1-SNAPSHOT` for [http4s](http://http4s.org).

Do you mind opening a `PR` to use `0.18` ?

Regards,

[2018-10-05 13:26] waghanza opened #405 "Update kitura"
Hi @kiliankoe,

Our [kitura](http://kitura.io) implementation is still using `2.2`.

Would you mind helping us using `2.5` ?

Regards,

[2018-10-05 14:13] waghanza commented on #400
@AlexWayfer sure, but using `gem search -r` or https://rubygems.org/gems/flame display `4.18.1` by **default**, and in term of representation display result of `flame` (because of `5.0.0rc5`) could lead to misunderstanding (if read is not a `ruby` dev or a **non-technical** person)

I'll remove flame (from results) and re-enable after release :stuck_out_tongue:

Thanks for understanding

[2018-10-05 14:46] AlexWayfer commented on #400
Or, you can use Flame 4, and we will update version after 5 release. It's not too bad, just performance problems for thousands of routes.

[2018-10-05 14:48] waghanza commented on #400
Sure, but it needs to downgrade the implementation.

If you want to downgrade it, I can give invite you on my fork to collaborate :heart:

[2018-10-05 14:53] AlexWayfer commented on #400
I just can make a PR, I guess. To this repo or to your fork, as you want.

[2018-10-05 14:57] waghanza commented on #400
Ok. On this repo then :+1:

[2018-10-05 16:42] Eilon commented on #402
Taking a look...

[2018-10-05 17:35] waghanza commented on #402
Awesome

[2018-10-05 20:22] sebastienros opened #409 "How is it different than TechEmpower"
TechEmpower provides more scenarios, including database and json ones.

https://github.com/TechEmpower/FrameworkBenchmarks

[2018-10-06 07:40] mfirry commented on #404
Hi @waghanza,
actually you're using `0.18.17` as you can see from the very first line of the `build.sbt` file.
I know it might look weird but `sbt` lets you define variables and use them later in the build file (for example `"org.http4s" %% "http4s-dsl" % Http4sVersion`.

So you're good to go, I think.

[2018-10-06 14:59] waghanza commented on #404
Ah ok, I was on the wrong version number 🤣

[2018-10-06 14:59] #404 closed

[2018-10-06 15:00] waghanza commented on #404
But there is still #401 if you want

[2018-10-07 08:40] waghanza commented on #404
And the version referenced
https://github.com/the-benchmarker/web-frameworks/blob/master/FRAMEWORKS.yml#L159
is wrong

[2018-10-07 09:43] proyb6 opened #411 "Implementation of web frameworks"
In my reading on Crystal web frameworks in your benchmark repo, are those running single or multiple process? From the script, Spider-Gazella seems to launch more than one process and how do I see if other Crystal framework if they are really ran more than one process?

I assume both Laravel and Vapor are multi-process and multi-threaded that lead to higher throughputs.

Perhaps it's useful to ind

[2018-10-07 12:45] waghanza commented on #409
sure @sebastienros **tfb** is more complete, however the goal are different here.

we want to compare performance of each framework (**full stack**, **micro** ...) but keeping implementations / scenarios simple.

To clarify, I'll say that **tfb** is more complete, but also more complex to understand results (it require some technical knowledge to understand results).

As a example, I'll say that s

[2018-10-08 09:04] #401 closed

[2018-10-08 10:32] waghanza opened #415 "Creating a PR template"
Hi,

While we are `growing` as a **community**, `contributions` (`PR`) are :heart: but it could be **heavy** (in term of maintenance) to validate each parts (and more because we are multi-languages).

It could be useful to create a **pull request** template that help us maintaining / validating contributions.

I mean, in the first time, listing some configuration required to keep the code base con

[2018-10-08 14:42] #402 closed

[2018-10-08 14:43] waghanza commented on #402
Thanks for your contributions @Eilon @sebastienros

[2018-10-09 10:45] waghanza opened #418 "Add atom (when it will be ready)"
+ Language : crystal
+ Repo : https://github.com/atomframework/atom
+ Author : @vladfaust

[2018-10-09 10:47] waghanza opened #419 "Remove prism"
Hi,

`prism` will be completely rewritten by his author (and added later).

Regards,

[2018-10-09 10:52] #419 closed

[2018-10-09 10:53] vladfaust commented on #418
Invitation accepted, thanks, @waghanza!

[2018-10-09 11:08] #409 closed

[2018-10-09 12:32] waghanza commented on #224
@aichholzer @OvermindDL1 any time to get kore up ?

[2018-10-09 12:44] waghanza commented on #346
@OvermindDL1 it could be useful not to limitate the usage to public.

I mean it could be useful to use this project to take some business decision, so in a **private** domain :stuck_out_tongue:

[2018-10-09 12:46] waghanza commented on #346
I've proposed #416

@aichholzer @tbrand are OK

what about @vladfaust @OvermindDL1. is a `mit` licensing OK for you ?

[2018-10-09 12:54] tbrand commented on #415
That sounds good. :+1:
I would like to see the template.

[2018-10-09 12:54] tbrand commented on #346
Yup.

[2018-10-09 12:59] waghanza commented on #415
A simple template listing task to do -> in order to keep code base consistent

I'll propose this soon :stuck_out_tongue_winking_eye:

[2018-10-09 13:04] vladfaust commented on #346
I haven't commited a line of code for myself, so I cannot vote on the license :) However, if you select MIT, anyone could use this project closed source and / or for business purposes without mentioning original authors.

[2018-10-09 14:02] OvermindDL1 commented on #346
Public domain (one of the CC-* licenses) is not limited to the public, it is do anything with it you want for any purpose.

If worried about copyrights or anything then use Apache2, it's basically MIT but with explicit patent and copyright and such provisions (hence why it's pretty much taking over as the de-facto open source license anymore).

[2018-10-09 14:06] waghanza commented on #346
@vladfaust sure ? The `MIT` licensing require a copyright notice ;-)

@see https://choosealicense.com/licenses/mit

for me any license is OK except those with same license requirement
+ MPL 2.0
+ GPL 3.0
+ AGPL 3.0
+ LGPL 3.0

I'll update the license term after any **consensus**

[2018-10-09 14:18] vladfaust commented on #346
@waghanza yes, you're right. MIT license requires copyright and other notices to remain intact. However, it doesn't restrict the software to be open-source. I'd go with MIT in this case

[2018-10-09 14:21] waghanza commented on #346
I hav explicit consent from @tbrand @vladfaust @aichholzer everyone OK ?

@OvermindDL1 ok ?

[2018-10-09 14:32] waghanza commented on #346
so, here we go :tada:

[2018-10-09 17:22] doanguyen opened #421 "Skeptical about controversial results"
Hi,
I had some time to check the benchmark of Laravel and Flask on my computer i7-7600U, 2.8x4 GHz and here is the result:
https://gist.github.com/doanguyen/a81cccb4e884c63422e2c5ae3e846d18

It shows the total different outcomes, Laravel serves only 87 req/s and Flask at best is 8506 req/s, I did some research and it looks similar to some other benchmarks, for instance, https://medium.com/@mihaige

[2018-10-09 18:35] waghanza commented on #421
Hi @doanguyen,

I have not done any **benchmark** before, but honestly I doubt that we have such differences. In my `php` adventures I have often to do some configurations that I have **NOT** to do in `python` world.

I am currently working on **cloudification** (on `aws`) for `ruby` _based_ **frameworks**. If you want to make the same for `php` _based_ **frameworks**, I'll be glad to push my code

[2018-10-09 18:56] waghanza commented on #421
PS : The time I was setting up `php` **here**, I had such diff when I was using `tcp` instead of **socket** in `php`

[2018-10-09 20:15] 1ma opened #422 "PHP images don't use OPCache"
OPCache is an extension that saves PHP from recompiling the same files into bytecode for each request. It is commonly enabled in production environments and it usually has a significant impact on overall performance.

Reference: https://medium.com/appstract/make-your-laravel-app-fly-with-php-opcache-9948db2a5f93

[2018-10-09 20:50] doanguyen commented on #421
Hi @waghanza,

Thanks for fast replying.
I'm not sure you are mentioning about tcp socket and unix socket, if that, I think it doesn't make so much different.
From what I know about Laravel, It is rather slow in comparison with others so maybe I missed something in my configuration that makes the results are so different.

[2018-10-09 20:56] waghanza commented on #421
Do you want to help us running `php` on **cloud** ?

I'm results won't be as imagined 😊

[2018-10-09 20:59] doanguyen commented on #421
Sure, I'm happy to do, but how?

[2018-10-10 03:45] tbrand commented on #295
Can we say that the below code **has a feature of routing**?
[code]

@dom96 You said

Yeah that's sound great! But the feature does not match to the concept of this repo.
May be @waghanza will create other repos that will bench other features. I hope the httpbeast could be included in it.

[2018-10-10 04:33] waghanza commented on #422
Hi @1ma,

Thanks for reminder. We will surely use opcode cache when we will be on production.

[2018-10-10 04:36] waghanza commented on #421
Do you know cloud-init ?

The technical system I use for `ruby` is some definitions (global, language level and framework level) to define who to setup host. I'll push my code soon and explain how to use it here

[2018-10-10 07:35] waghanza commented on #422
We can use **opcode** cache on `docker`, but will it add more performance ?

Feel free to open a `PR`, if you want to see

[2018-10-10 07:51] #242 closed

[2018-10-10 07:53] waghanza commented on #225
@faustinoaq I think when we reach `stability` (at the end of the year, I hope), we could help **tfb**, and vice versa

[2018-10-10 07:53] #225 closed

[2018-10-10 07:56] waghanza commented on #295
@tbrand For me `httpbeast` has routing feature (even if I personally found this not elegant comparing to `ruby` or `crystal`, but it's a matter of taste)

for me it's OK to include `httpbeast` in this repo

[2018-10-10 08:43] doanguyen commented on #421
I've never done it before, the setup that I've made for the benchmark is creating two docker instances and manually benchmark by apache _ab_.

[2018-10-10 08:50] tbrand commented on #295
@waghanza How?

This way?
https://github.com/the-benchmarker/web-frameworks/issues/295#issuecomment-428428206

[2018-10-10 08:56] waghanza commented on #421
I understand, but using `docker` is **NOT** representative of **production-ready** (something that produce readable results from which assumptions could be done)

I mean using `docker` (I think on a `local` `workstation`) is **NOT** the same as :
+ using a **production** env (even on [kubernetes](http://kubernetes.io))
+ using a **server** (any **production** grade machine is **NOT** on the same a

[2018-10-10 09:22] 1ma commented on #422
I bet it would. Anyway, I'll check it out and submit a PR.

[2018-10-10 09:57] waghanza commented on #295
@tbrand Yep

I totally agree that this writing way **COULD** be strange for some devs, but this code match routes :

+ /user/0
+ /user/1
+ /user/2

but not /users/1.

For me it is a `routing` feature in the way that a `route` is handled by a portion of code

[2018-10-10 12:31] waghanza opened #426 "Complete ruby benchmark suite"
Hi @luislavena,

I can see that `roda` display your [benchmarks](https://github.com/luislavena/bench-micro) (as very complete) on their homepage.

Would you mind letting us use your code ?

Regards,

PS : Even if your code is opensource, I prefer ask you before doing so ...

[2018-10-10 13:58] waghanza opened #427 "Missing raze"
Hi,

`raze` is missing from the configuration

Regards,

[2018-10-10 14:59] waghanza commented on #295
@tbrand also **httpbeast** is on **tfb** https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Nim
probably it **COULD** be considered as a `framework` with the features we expect here

[2018-10-10 15:01] tbrand commented on #295
Hmm I don't think so. If we accept it, it means every languages level implementation can be accepted. (e.g. Crystal, Ruby, ...)
But if you wish, you could add it.

[2018-10-10 15:10] waghanza commented on #295
you do not seems convinced ...

@OvermindDL1 what do you think ? (I do not want to take decisions unilaterally)

@dom96 for me a **important** point is : how we do not get out-of-sync ?

[2018-10-10 15:22] dom96 commented on #295
What does that mean? Does it mean "every HTTP server implementation without a router?"

To be fair, your repo is called "web frameworks" so I can understand if you don't want HttpBeast in here. But IMO you should set the bar higher. Routing is relatively trivial.

What do you mean "out-of-sync"?

[2018-10-10 15:31] waghanza commented on #295
@dom96 I mean having outdated implementations of each frameworks

[2018-10-10 15:32] dom96 commented on #295
It shouldn't be a big deal since you've pinned the versions.

[2018-10-10 15:35] waghanza commented on #295
@dom96 If I can remind you, it will be better. I mean if codebase has to be updated, I prefer that its you (or an other `nim` **dev**) to take this task

[2018-10-10 15:38] doanguyen commented on #309
Hi,

An update from this issue: I had a micro-benchmark between Swoole Vs Nginx+Php-fpm. Most of the framework written in PHP now is sync so I have no way other than choosing vanilla PHP to perform the benchmark.

The benchmark workflow is like that:

Apache ab ---> Swoole
Apache ab ---> Nginx ---> PHP Application

I tried to set up Nginx as a reverse proxy on top of Swoole, but It does not work!

[2018-10-10 15:43] waghanza commented on #309
:tada: I'll be quite happy to see what's happening with those generation of tools

[2018-10-10 16:05] doanguyen commented on #247
Hi,

@waghanza  omitting `z` seems reasonable since only LTS is worth to perform the benchmark, so I support.

[2018-10-10 16:07] #247 closed

[2018-10-10 16:19] doanguyen commented on #384
I'm with @greed2411, pip itself is just right for me, Pipfile is just over killed.

[2018-10-10 16:23] waghanza commented on #384
But it has some extended features no ?

[2018-10-10 16:42] doanguyen commented on #384
Yes, it is. But consider the fact that the Pipfile project has not yet reached version 1.0, nothing sure at this moment even at the front page of the project state. For me, the selling point of Pipfile over requirements.txt is that it creates fully specified environments which means every dependency is fixed. so yes it's great. But for a benchmark project, I don't see any pros of using Pipfile her

[2018-10-10 16:45] waghanza commented on #384
Ok. Convinced.

Let's close, and re-opend after the `1.0`

[2018-10-10 16:45] #384 closed

[2018-10-10 23:10] doanguyen commented on #421
Hi again,

Really bad news.

I still questioning myself why there is so much different in the result and I finally found out.

I've never written any crystal code so please correct me if I'm wrong. The file tools/src/benchmarker.cr will send, by default, 100k requests with `no_cpu+1` threads to the target and collect the result by averaging the 3 endpoints. The problem is, the script does **NOT**

[2018-10-11 04:32] waghanza commented on #421
@doanguyen As I understand, your point is that non http 200 are not checker.

I know the code needs refactoring, but kits check the output (json) of `bin/client -u http://google.fr`

Error (even socket ones) are taking in count

[2018-10-11 05:29] waghanza commented on #421
@doanguyen however, the errors are not shown on results, we have to choose the right way to display errors

[2018-10-11 06:41] waghanza commented on #421
@doanguyen you're concern is about`php` then.

As I have already said, I have not found anything like `gunicorn` or `puma` in `php` word.

If you now one, feel free to contribute :heart :

Nginx + PHP-FPM is a choice only made because I do not know any **appserver** on `php`

[2018-10-11 06:59] doanguyen commented on #421
It's not about server stack, it's about the way you benchmark, collecting results, I think it needs to fix first

[2018-10-11 07:18] waghanza commented on #421
fix what ?

as the `README` is saying, results are not **production-ready** (then you can not take any assumptions)

I hope at the end of the year, results will be computed on `cloud` (so **production-ready**) and then we can make assumptions

Honestly, results from a local `docker` and on an **isolated** machine are **NOT** the same

[2018-10-11 07:29] proyb6 commented on #421
Yes, we need to fix the issues, let’s pull a request if you can contribute.

[2018-10-11 07:31] waghanza commented on #421
sure, anyone could have global knowledge, just name the problem and contribute with a solution :+1:

(ideas, PR ...)

[2018-10-11 08:07] doanguyen commented on #421
@waghanza with your response I really want to ask you what is _benchmark_ stand for?

With that it will come to the point of how to do it properly.

Until now, I have an only recommendation is to use `wrk` instead of a custom library to perform the benchmark, but the library could be your selling point so either you stick to your solution or move to `wrk`.

[2018-10-11 08:19] waghanza commented on #421
@doanguyen ah understood, no need to point issues based on assumptions for that (because results are not **production-ready**) ^^

`wrk ` is used since since june https://github.com/the-benchmarker/web-frameworks/pull/223

I know anything is perfect, but we are trying to do so :heart:

and when we reach **production level**, we will start a documentation to have more details about implementation,

[2018-10-11 08:36] doanguyen commented on #421
I followed the README, not so correct.
I'll close this issue.

[2018-10-11 08:47] waghanza commented on #421
@doanguyen So `README` was not clear enough for you ?

[2018-10-11 09:10] doanguyen commented on #421
Isn't it wrong? still using the old benchmarker crystal script?

[2018-10-11 09:31] doanguyen commented on #421
Whatever it is, it's fine by me now.

Aside, https://github.com/giltene/wrk2 provides additional features and **DON'T** have the problem of taking non-2xx into account of req/s.

Is this worth to make the change?

[2018-10-11 09:31] doanguyen commented on #421
**DON'T**

[2018-10-11 10:00] waghanza commented on #421
Yeah, I've created an issue for this https://github.com/the-benchmarker/web-frameworks/pull/183, there is a lot of alternative to `wrk`

+ https://github.com/giltene/wrk2
+ https://www.npmjs.com/package/autocannon
+ https://github.com/rakyll/hey
+ https://github.com/JoeDog/siege
+ ...

We decided to go on `wrk`, but it **COULD** change

feel free to open a separate discussion to ask for `sieger` t

[2018-10-11 11:49] doanguyen commented on #421
Thanks, @waghanza, things are clear now.

[2018-10-11 12:56] waghanza commented on #411
@proyb6 at my end, I know `spider-gazelle` that is using `clustering`. all **frameworks** implementation are by the `author`. when we reach **production level**, we have to ducument all details of that

[2018-10-11 13:15] doanguyen commented on #409
Hi,

don't you mind if i reopen the issue? I would think we should focus on the framework that has a reasonable number of user base. Like >1k stars on Github or whatsoever.

What do you think?

[2018-10-11 13:34] waghanza commented on #409
Hi @doanguyen,

Feel free to enjoy our work :heart:

Ideas are welcome

For me the main idea behind this project is to compare **framework**, but in order to avoid a messy project, it seems accurate to have some conditions to validate candidates.

In my point of view, candidates **SHOULD** be accepted only with a **feature** basis. I mean that to ensure a minimum of innovation / real-word usage, *

[2018-10-11 14:10] OvermindDL1 commented on #295
Seems fine to me to include it, what is being tested here isn't even the languages but rather how efficient their socket and string processing capabilities are considering how little time is spent in each language proper.  If you really wanted to do testing of the frameworks then you'd need to test a lot more, concurrency, websockets, etc... etc...  All that is being tested here is socket handling

[2018-10-11 14:51] waghanza commented on #421
@doanguyen I have successfully run on  `aws` **instances** by creating a wrapper here (I'll push soon in my **fork**)

for **sinatra**, I have (times are in `ms`)

| Instance | Average | 50th percentile | 90th percentile | 99th percentile | 99.9th percentile | Standard deviation |
|-------------------------|----------------:|----------------:|----------------:|----------------:|----------------:|-

[2018-10-11 15:18] waghanza commented on #295
of course @OvermindDL1, a `proper` way to have a **full-feature** **benchmark** is to define a **complete** set of specs

I can handle work on implementations, but have no time to define a **complete** set of specs, if you are interested, feel free to write specs, I'll handle the coding part ;-)

@dom96 for me it's OK, you can open a `PR`

[2018-10-11 15:29] doanguyen commented on #421
It's a bit weird to me. Any chance the `wrk` instance is the bottleneck? :laughing:

[2018-10-11 15:33] waghanza commented on #421
yeah :stuck_out_tongue_closed_eyes:

this is phase **1**

I mean `wrk` is on my local computer, so with a non-stable conection (even no wireless)

In phase **2**, I'll run on a **fully** stable connection :stuck_out_tongue: `cloud` -> `cloud` instead of `home` -> ... -> `cloud`

[2018-10-11 15:48] waghanza commented on #309
@doanguyen you can also `PR` with https://github.com/php-pm/php-pm-docker

[2018-10-11 15:50] doanguyen commented on #409
:heart:

* routing feature seems obvious since it's framework, not a library. So isn't it in the title already?
* Idk. versioning is a mess, so up to you. (but i think vibora, sanic,... is unqualified)
* Why do you hate those languages :))

anyway, at the end of the day I think it's just the question of how many people are doing this/that framework, no matter what language is this.

[2018-10-11 15:57] waghanza commented on #409
PS : I do not hate any languages, languages are **tools** not **goals** (**goals** could be hated, not **tools** used to get to it)

:+1:

vibora and sanic has **NOT** to be show by default -> adding **experimental** `flag`

What I mean with no jruby ... is that by default implementations in `ruby` (for example) **SHOULD** use standard `ruby`, or we can even consider creating a **foler** for `jrub

[2018-10-11 15:58] OvermindDL1 commented on #421
Lol, yeah the remote connection means you are measuring your possible network load as a maximum rather than the servers once hitting a certain point.  ^.^;

[2018-10-11 16:15] doanguyen commented on #409
Yep, I agree we use only the most widely interpreter of these languages unless someone needs it really hard.

[2018-10-11 20:17] dom96 commented on #295
Okay, may take me a bit. Busy with a house move right now :)

[2018-10-12 07:37] waghanza commented on #309
@doanguyen I have tested `php_pm` here => https://github.com/waghanza/http-benchmark/blob/php_pm/php/laravel/Dockerfile

[2018-10-12 09:33] doanguyen commented on #309
I've just made a quick test, it eats ram like twice as Chrome or even worse, workers don't seem to restart as they said.

[2018-10-12 12:10] waghanza commented on #309
@doanguyen I've create an issue https://github.com/php-pm/php-pm-docker/issues/18 to have some helps / see what's happening

[2018-10-12 12:30] waghanza commented on #309
@doanguyen Nop, I use it https://github.com/waghanza/http-benchmark/blob/php_pm/php/laravel/composer.json

[2018-10-12 14:53] doanguyen commented on #309
Did you try
`ppm start --bootstrap=laravel --app-env=prod --logging=0 --debug=0 --workers=20`
yet?

[2018-10-12 15:51] doanguyen commented on #309
PHP-PM
[code]
with memory consumption
![](https://i.imgur.com/WeI7KYK.png)

Not much better than: nginx+php-fpm

[code]
and memory consumption
![](https://i.imgur.com/hGaGRno.png)

[2018-10-12 15:55] doanguyen commented on #309
I think we stick to the nginx+php-fpm since php-pm is leaked in memory, and doesn't seem to fix in short time.

[2018-10-12 18:11] waghanza commented on #309
Souds good for me. Thanks for your work

[2018-10-15 19:01] #309 closed

[2018-10-15 19:25] waghanza opened #434 "Introduce httprouter"
+ Language : `go`
+ Repo :  https://github.com/julienschmidt/httprouter
+ Author : @julienschmidt

[2018-10-15 20:00] waghanza opened #435 "Add several go competitors"
This benchmarks is full of `golang` **frameworks**
https://github.com/julienschmidt/go-http-routing-benchmark

[2018-10-15 20:07] waghanza opened #436 "Introduce ion"
+ Language : `go`
+ Repo : https://github.com/get-ion/ion
+ Author : @hiveminded

[2018-10-16 05:00] #346 closed

[2018-10-16 05:00] #331 closed

[2018-10-16 19:03] #405 closed

[2018-10-16 19:46] #403 closed

[2018-10-16 20:27] kiliankoe commented on #405
Hi, I'm very sorry for not getting back to you on these two issues earlier. I am currently employed by Apple however and am not able to work on open source at this point in time. Thanks so much for updating both projects 😊

[2018-10-17 07:17] waghanza commented on #405
Hi @kiliankoe,

Congratulation for your new position.

It is a pleasure for me to update those **frameworks** (as it make me learn `swift` :stuck_out_tongue: ).

Regards,

[2018-10-17 08:42] waghanza opened #440 "Display language version"
Hi,

Version of each **frameworks** is now displayed on `result` _table_.

It could be interesting to display also the version of each **language** in use.

Actually `docker` (**development**) is `used`, so pining a version is easy (tag in `Dockerfile`).

However, each `provider` (in fact `os` behind) has a specific version.

For example, **ruby** is available on :
+ `2.5` for `docker`
+ `2.4` for

[2018-10-17 15:54] #395 closed

[2018-10-17 15:55] waghanza commented on #421
@doanguyen @OvermindDL1 I close this issue, stay tuned on `gitter` (or `here`) on cloudification :stuck_out_tongue:

[2018-10-17 15:55] #421 closed

[2018-10-17 15:57] waghanza commented on #224
fixed with #430

[2018-10-17 15:57] #224 closed

[2018-10-17 18:11] waghanza commented on #307
@aichholzer @OvermindDL1 any time for a `PR` ?

[2018-10-17 20:35] #300 closed

[2018-10-17 20:37] #221 closed

[2018-10-17 20:38] #92 closed

[2018-10-17 20:39] #101 closed

[2018-10-17 20:40] waghanza commented on #89
@OvermindDL1 if you have time for a `PR`, it will be :heart:

[2018-10-18 04:04] lemon07r opened #441 "vertx java framework"
+ Language : Java
+ Repo : https://vertx.io/ https://github.com/eclipse-vertx/vert.x
+ Author : https://github.com/eclipse-vertx

[2018-10-18 04:59] waghanza commented on #441
I'll be :heart: to welcome an other `java` framework in here.

If you mind a `PR`, I'll review quickly

[2018-10-18 10:02] waghanza opened #443 "Mofuw is failing"
Hi @2vg,

`mofuw` is failing
https://travis-ci.com/the-benchmarker/web-frameworks/jobs/152443921

A quick-fix consist of use `0.19` version of **nim** (on `Dockerfile`) instead of using the `latest`
#442

What do you recommend ?

Regards,

[2018-10-18 11:51] 2vg commented on #443
try CI agarai.
Please let me know if there is still a problem.

[2018-10-18 12:03] waghanza commented on #443
yep, I've restarted, it's ok now
https://travis-ci.com/the-benchmarker/web-frameworks/jobs/152443921

I think I'll have to **pin** version on `Dockerfile` to avoid this (and display more info)
https://github.com/the-benchmarker/web-frameworks/issues/440

[2018-10-18 12:03] #443 closed

[2018-10-18 12:05] #192 closed

[2018-10-18 17:43] waghanza commented on #293
We also can use [Falcon](https://github.com/socketry/falcon)

[2018-10-18 19:37] #415 closed

[2018-10-21 03:37] mcauto opened #446 "Add Spring(+Java)"
+ Language : Java
+ Repo : https://github.com/spring-projects/spring-framework
+ Author : spring-projects
Spring Framework is the populest web framework in Korea.

[2018-10-21 08:43] lemon07r commented on #441
Aha I've never worked with that framework. Im still quite new to backend and was just interested in seeing more Java frameworks

[2018-10-21 08:51] waghanza commented on #441
Ok. Any community member will do it, then 😎

[2018-10-21 16:24] derpmarine168 opened #447 "Gotham"
+ Language : Rust
+ Repo : <https://github.com/gotham-rs/gotham>
+ Website : <https://gotham.rs/>

[2018-10-21 21:39] lemon07r commented on #441
Hopefully, If not I'll give it a try.

[2018-10-22 07:19] waghanza commented on #447
@fafhrd91 @botika interested in contributing on this ?

[2018-10-22 07:19] waghanza commented on #446
@greenlaw110 interested in contributing (comparing with `act`) ?

[2018-10-22 11:55] fafhrd91 commented on #447
I am not. I think Gotham is dead

[2018-10-22 12:06] waghanza commented on #447
@fafhrd91 I don't think so, the last commit, in **master**, is 13 days old

[2018-10-22 18:35] waghanza opened #479 "Use C++2017 for evhtp"

[2018-10-22 18:35] waghanza opened #480 "Use C 2011 for kore"

[2018-10-22 19:50] waghanza opened #482 "Fix slim"
Hi,

`slim` cache directory (for **routing**) is not writeable

Regards,

[2018-10-23 05:33] drujensen opened #483 "Crystal not leveraging the 8 cores"
Crystal doesn't have threads so its not leveraging the 8 cores.

For Amber you can enable `port_reuse` in the settings:
[code]

[2018-10-23 11:53] #483 closed

[2018-10-23 11:54] #482 closed

[2018-10-23 14:02] derpmarine168 commented on #447
Possibly <https://gotham.rs/blog#a-call-for-maintainers>. However, it's not *dead*.

[2018-10-23 15:31] derpmarine168 commented on #447
what i mean is:

aka, it's still being maintained, but not very actively, and there are few (or no) maintainers that are dedicating large aounts of time to it.

also, i'd be happy to help contribute to this benchmark.

[2018-10-23 15:56] waghanza commented on #447
@derpmarine168 feel free to do so :heart: any **contribution** is valuable

[2018-10-23 16:04] waghanza commented on #402
@Eilon @sebastienros as I understand `ASP.NET core` use `C#` **7.3** ?

I want to specify version on `README`

[2018-10-23 16:06] #427 closed

[2018-10-23 16:06] #422 closed

[2018-10-23 16:16] whitfin commented on #447
I can confirm that it's most definitely not dead; there's a 0.3 release in the works Coming Soon (TM). There's a new batch of maintainers; myself, @nyarly and @colinbankier - as well as input from various community members and the original authors.

I'm personally happy with any benchmarks added; feel free to ping me on the PR and I'll run over it just to make sure that everything is optimal. It m

[2018-10-23 16:23] sebastienros commented on #402
The language version is irrelevant here. And I don't even know which one it's using as the project doesn't specify it so it's using whatever default the sdk decides it is. What is important is the dotnet runtime version, which is 2.1.

[2018-10-23 17:05] waghanza commented on #402
@sebastienros I disgree

As considering only `C#`, or any language that needs a **build** step, I can agree with you (for this perspective)

However, this project tends to be larger (having dynamic language) and then the information about language version is useful.

For example, comparing `ruby` `2.5` and `php` `5` **IS** irrelevant, and having information about language version is interesting in

[2018-10-23 17:16] dalu opened #487 "Measure concurrency levels"
+ Language : any

Currently you're measuring latency and requests/second. That nice eyecandy but it says nothing about the robustness of the used tech.

I suggest you also meansure concurrency values.

start with 50, 200, 1000, 2000, 5000, 10000.

Let's see when those "blazing fast, high request processing" frameworks start returning errors.

[2018-10-23 17:36] waghanza opened #488 "Laravel builds fail"
Hi,

`laravel` is failing
https://travis-ci.com/the-benchmarker/web-frameworks/jobs/153614021

@1ma @taylorotwell Could you review our implementation here
https://github.com/the-benchmarker/web-frameworks/tree/master/php/laravel

I am not sure if this build fails since `opcode` or since **upgrade** to `php` `7.2.11`

Regards,

[2018-10-23 17:42] Eilon commented on #402
@sebastienros - can we just set the lang version explicitly in the csproj?

@waghanza in the case of .NET the language is completely separate from the runtime, which is not exactly true in practice in other systems. You can use C# 7.3 with .NET 2.0, 2.1, 2.2, etc. and get different runtime performance because of the runtime improvements/changes.

[2018-10-23 17:59] waghanza commented on #487
Hi @dalu,

The `concurrency` level is **fixed** for now -> e.g : `wrk` use `1000` requests per thread
https://github.com/the-benchmarker/web-frameworks/blob/master/tools/src/benchmarker.cr#L12-L13
but it could be changed, using command line switches

This idea is great, but this **feature** has to be explained by a  `real-word` use case :stuck_out_tongue:

I mean, why not ? but :
+ not a priority

[2018-10-23 21:09] OvermindDL1 commented on #487
That's something I keep saying needs to be measured.  ^.^

Concurrency is important because it relates to how many connections it can handle before they fail (say with a long database request each or something).

You could emulate it be just `sleep(1s)` as a simple test if you want to add a new route, perhaps `/sleep/:time` where the integral value is the number of milliseconds or seconds or so to

[2018-10-23 23:00] aichholzer commented on #234
@ardalanamini would you be interested in submitting a PR for this?

[2018-10-23 23:01] aichholzer commented on #235
@noahlaux / @timneutkens would you be interested in submitting a PR for this?

[2018-10-23 23:03] aichholzer commented on #118
@thetutlage would you be interested in submitting a PR for this?

[2018-10-23 23:45] dalu commented on #487
Real world use is at hand.

If you need 100 servers to handle the same amount of visitors (e.g. 50 concurrent, e.g. php 5.6 symfony 2) what 1 server could handle (e.g. 5000 concurrent Go stdlib) then there's your real world usage. Unless I misunderstood the term. Because hitting helloworld repeatedly, what you're doing now, isn't much different.

I mean that's for starters. Then you'd have 3 metri

[2018-10-24 00:01] waghanza commented on #487
I understand all advices here, but the big deal is : how to display this whitout going in a mess ?

[2018-10-24 10:42] #488 closed

[2018-10-24 12:28] ardalanamini commented on #234
Submitted a PR: #491

[2018-10-24 14:10] OvermindDL1 commented on #487
Just another sorted table I'd say.

[2018-10-24 14:14] waghanza commented on #487
i think it is counter-productive. I suggest :
+ Leaving result tables as-is for now
+ Gather ideas about what metrics are useful
+ Create a roadmap / priority list to show that we are working on

What do you think ?

[2018-10-24 16:07] waghanza opened #493 "Update hanami to 1.3"
Hi,

`hanami` as been release to `1.3` :tada:
http://hanamirb.org/blog/2018/10/24/announcing-hanami-130.html

Regards,

[2018-10-24 21:31] waghanza opened #494 "Re-enable plug"

[2018-10-24 21:31] waghanza opened #495 "Re-enable phoenix"

[2018-10-24 22:34] OvermindDL1 commented on #495
Phoenix builds on plug, and thus if it had build issues probably elixir or plug was upgraded without upgrading the other as well.

[2018-10-24 23:19] waghanza commented on #495
@c0b do you plan to release `elixir` `1.7.4` on **docker store** ?

[2018-10-24 23:20] waghanza commented on #495
@OvermindDL1 `elixir` `1.7.4` is not so old :stuck_out_tongue:
https://github.com/elixir-lang/elixir/tree/v1.7.4

it's about 5 hours now

[2018-10-25 11:19] dalu commented on #487
example

# 1000 concurrent

table latency

table requests / second

# 2000 concurrent

table latency

table requests / second

# 5000 concurrent

table latency

table requests / second

[2018-10-25 11:30] dalu commented on #487
1000 visitors at the same time

2000 visitors at the same time

5000 visitors at the same time

I'm not sure if your goal even is finding truth but selling your favorite framework tbh

[2018-10-25 11:47] waghanza commented on #487
@dalu it's not a question of choosing your favorite framework, but showing what frameworks can do in **real-world** usage :stuck_out_tongue:

[2018-10-25 11:53] waghanza commented on #487
To clarify my thoughts, I would say that in **real-world**, you usually have some load balancers before your frontend servers, then making an equality with visitors is for me not a good approach

I tend to correlate 3 types of datas :

+ hardware resources (servers ...)
+ human resources (which language know or **could** know your team)
+ customers resources (how many people do you reach with your

[2018-10-25 14:37] OvermindDL1 commented on #495
Lol, my system just stays up to date so I never noticed when it appeared...  ^.^;

[2018-10-25 14:45] OvermindDL1 commented on #487
I've never had load balancers in front and I've handled traffic with literally millions of requests per day with ~40k *concurrent* connections averaging >350 terabytes transfer a month for years at a time.  The BEAM handles that without needing load balancers (it is self-balancing), back-end data replication like Redis (also built-in to the BEAM via it's node and message distribution system), no d

[2018-10-25 15:18] waghanza commented on #487
@ OvermindDL1 BEAM is not a load balancer itself ?

Sorry, if I mislead someone, I am too sticky with my dynamic languages.

As for example ruby, you usually run with `puma` (or else) what load balance between all hardware resources.

We also use generaly nginx, haproxy, AWS alb to load balance (and also fail over) customer traffic

[2018-10-25 15:32] OvermindDL1 commented on #487
Indeed, but things like this are entirely unnecessary with the BEAM VM.  There is an old Meme in the Erlang/Elixir-world that lists all the different software that a general high-output Ruby web server requires and the entire BEAM column just lists the BEAM, wish I could find it...  ^.^;

In reality the Postgres web server is often used with the BEAM, the built-in mnesia is a good distributed KV d

[2018-10-25 15:38] waghanza commented on #487
Sure, what I try to say is that on **real-world*" we can choose BEAM (for what purpose elixir is for) but for ruby we use load balancers

A equality could be done here
BEAM = ruby + puma + nginx (simplication made on purpose)

But this is quite far away that the initial idea 😁

[2018-10-25 15:39] waghanza commented on #487
When you speak about postgres webserver, could you be more precise, I didn't know PG has a webserver inside 🤣

[2018-10-25 15:44] OvermindDL1 commented on #487
Meaning that PostgreSQL is often used 'as the main database' with most Elixir web servers, since it (as of versions the past few years) can be distributed, supports relational data, supports KV data, supports document store, built-in support for a lot of things like positional data, streaming query changes in realtime, pub/sub (not really that used with Elixir apps since it has a better pub/sub sy

[2018-10-25 16:56] OvermindDL1 commented on #487
Lol, that's hilarious, and looks so wonderfully inefficient.  ^.^

[2018-10-25 16:57] waghanza commented on #487
Why?

[2018-10-25 17:07] OvermindDL1 commented on #487
RESTful API's are not terribly efficient since they tend to perform single table queries, something like GraphQL's style is significantly more efficient as it can build better optimized queries to get all needed data in a single request.  Plus you lose capabilities like on-update streaming and so forth.

[2018-10-25 17:18] waghanza commented on #487
Ah, I think you mix REST design ans RESTful API.

For example, HATEOS is one implementation of REST design, but tends to be several tables querying (something like graphql, but without having yo write query client side)

[2018-10-25 17:28] OvermindDL1 commented on #487
Not mixed up, RESTful API's are very static.  If you only need a single field that is the result of merging two things then you either have to hope they have a dedicated endpoint *just* for that or you have to potentially do multiple queries and get lots and lots of data that you don't care about back, where with GraphQL you construct precisely what you need and that's all you get back, which is a

[2018-10-25 17:45] waghanza commented on #487
Look at https://jsonapi.org😊

[2018-10-25 17:52] OvermindDL1 commented on #487
What about it?  It's just a method of formatting a json output, doesn't do anything to reduce round-trips or request a specific element from something that usually gives more or anything of the sort?

[2018-10-25 18:03] waghanza commented on #487
nop, you can retrieve several resources at once, select fields you want ...
avoid doing :
+ 1 call = 1 resource
+ always get all fields (no filtering before network)

[2018-10-25 18:59] waghanza opened #503 "Update iris"
Hi,

`iris` has been updated in `11.0.0` **4 days** ago

Regards,

[2018-10-26 06:29] #493 closed

[2018-10-26 06:37] proyb6 commented on #487
I’m not sure if having 5 sec runs for each framework is useful, particularly Jester (Nim) seems to have lower/worse throughput when running at short duration as 5s or 10s with wrk but normal a time long duration.

[2018-10-26 06:41] waghanza commented on #487
@proyb6 5 sec ?

[2018-10-26 06:43] waghanza commented on #487
the tool run with a 15s duration test (changeable with a command line option)
https://github.com/the-benchmarker/web-frameworks/blob/master/tools/src/client.cr#L11

[2018-10-26 07:30] proyb6 commented on #487
I see, it's better with pipelines benchmark.

[2018-10-26 16:31] waghanza opened #505 "Reduce build time"
Hi,

Actually our **CI** (`travis`) runs a test personnes framework.

As we have, for now,  about 50 frameworks, `CI` is vert long, about 2 hours.

To reduce this, we can use an undocumented feature (`travis_terminate`) to avoid unecessary builds, and reduce build time.

Regards,

[2018-10-26 16:46] waghanza commented on #357
The **main** subject `here` is to embrace some standard to keep code base as clean as possible

There is two way to do this :
* Requiring `contributors` to clean there code **before** any `PR`
* Requiring `maintainers` to clean any `PR`

I vote for the 2nd solution

However, doing this is a dead-end (because of time/investment requirements). I like the idea of clean after contribution (it let crea

[2018-10-26 17:37] OvermindDL1 commented on #357
I'd just automate source code formatting via a travis task, have it commit back if any changes were done.

[2018-10-26 17:51] waghanza commented on #357
it could be that, but I think `CI` are not made for that

I mean, using travis to push inside github appears to me weird. I prefer considering github as a hub, where `PR` are reviewed by any human (learning is great :heart:)

[2018-10-28 17:39] waghanza opened #514 "Introduce chi"
+ Language : go
+ Repo : https://github.com/go-chi/chi
+ Author : @pkieltyka

[2018-10-29 06:08] #514 closed

[2018-10-29 19:29] whitfin commented on #447
Hi all, I have filed a quick benchmark in https://github.com/the-benchmarker/web-frameworks/pull/533. Haven't been able to verify, so can someone please vet the changes and let me know?

[2018-10-29 19:42] waghanza commented on #447
@whitfin `rust` version could be aligned, unless for `rocket` :stuck_out_tongue_winking_eye:

`rocket` compiles only on **nightly** (for _now_)

[2018-10-29 19:44] whitfin commented on #447
@waghanza yep, got that. I guess somebody updated to 1.30 just after I forked earlier today :p

[2018-10-29 19:46] waghanza commented on #447
@whiplash me :stuck_out_tongue:
exactly it's not me, I use a service http://www.dependencies.io to keep up-to-date :tada:

[2018-10-29 21:42] waghanza opened #534 "Vapor failure"
Hi,

`vapor` fails with an
[code]

when starting
[code]

Regards,

[2018-10-30 09:12] waghanza commented on #89
@kordeviant now that benchmarker has been completely rewritten (`wrk` is used in the background) it will be inter sting to use `hipe` for **elixir**

I'm actually working on a **production** version of results, not running on **local** `docker`

[2018-10-30 10:30] #534 closed

[2018-10-30 16:45] #447 closed

[2018-10-30 17:28] OvermindDL1 commented on #89
If you do make sure to compile OTP with HiPE too, not just the application, mis-matched backend usage incurs a significant performance hit.

[2018-10-30 18:16] waghanza commented on #89
@OvermindDL1 I'll be glad to learn :stuck_out_tongue:

[2018-10-31 04:41] drujensen commented on #483
@waghanza Did the benchmarks get worse for Amber after changing the number of processes?  Is there some logs that I can find out what's going on?

[2018-10-31 06:37] waghanza commented on #483
@drujensen here I have results on my 4 cores

|  | Average | 50th percentile | 90th percentile | 99th percentile | 99.9th percentile | Standard deviation |
|------------|----------------:|----------------:|----------------:|----------------:|----------------:|----------------:|
| **master** | 23.63 ms | 23.84 ms | 29.86 ms | 31.38 ms | 235.06 ms | 5656.33 |
| 8de479f4815a044157ddf3ac15cd2b17da70f0

[2018-10-31 09:48] waghanza opened #539 "Introduce falcon"
+ Language : python
+ Repo : https://github.com/falconry/falcon
+ Website : http://falconframework.org
+ Author : @kgriffs

[2018-10-31 15:52] greed2411 opened #544 "Introduce responder"
+ Language : python
+ Repo : https://github.com/kennethreitz/responder
+ Author : [kennethreitz](https://github.com/kennethreitz)

[2018-11-01 08:29] #539 closed

[2018-11-01 09:47] tomchristie opened #546 "Starlette"
+ Language : Python
+ Repo : https://github.com/encode/starlette
+ Website: https://www.starlette.io/
+ Author : @tomchristie

[2018-11-01 09:48] tomchristie commented on #546
Deployment is the same as `responder` (Use gunicorn with the uvicorn worker class, and multiple worker processes.)

[2018-11-01 16:15] #546 closed

[2018-11-01 16:51] tomchristie opened #549 "Tweaks to Python invocations"
* All Python frameworks using gunicorn should have `--log-level warning` added to the command line.
* Starlette's config is currently missing `--workers $(nproc)`

[2018-11-02 09:10] #549 closed

[2018-11-02 10:22] waghanza opened #553 "Introduce jenet"
+ Language : pony
+ Repo : https://github.com/Theodus/jennet
+ Author : @Theodus

[2018-11-02 16:21] waghanza opened #555 "Add lumen"
+ Language : php
+ Repo : https://github.com/laravel/lumen
+ Author : @taylorotwell

[2018-11-04 21:39] #555 closed

[2018-11-05 21:23] waghanza opened #587 "Use a fork to check dependencies"
Hi,

@dependabot[bot] @depfu[bot] @dependabot[bot] are use to update dependencies in each frameworks here (at least if `language` is **supported** by each **bot)

The inconvenient of those service is that their are creating branch inside of this repository, and branch creation/update trigger a `CI` **build**. This **build** is important, to prevent `faulty` merging.

As a result it could be useful

[2018-11-06 10:56] JoelEllis opened #588 "Requests that take too long or time out should be ignored."
Currently some frameworks have a standard deviation of more than 750000ms, this is probably inaccurate and requests exceding a minute should be ignored, as they would be by a browser.

[2018-11-06 11:10] proyb6 commented on #588
I don’t see anything more than a minute?

[2018-11-06 11:16] dependabot[bot] opened #589 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/iris/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-11-06 11:59] derpmarine168 commented on #588
Look at the standard deviation on symfony and laravell. It excedes 10 mins on symfony.

[2018-11-06 14:21] waghanza commented on #589
@dependabot
this following statements are no `go.mod` compliant ?
[code]
@kataras when runing `go build .` the binary created is named `iris` (not as expected -> `main`)

[2018-11-06 15:45] OvermindDL1 commented on #588
You should set a timeout on the test (15 seconds?) and report anything that takes longer as an error.

[2018-11-06 15:57] waghanza commented on #588
@derpmarine168 Yep, the standard deviation is huge, but this is a side-effect of using `docker` -> after running on **digitalocean** this metric will decrease drastically

@OvermindDL1 yeah ! ! ! after running on `cloud`, I will take figures more seriously (now their are not useful, just showing the way information is displayed)

[2018-11-07 08:06] #505 closed

[2018-11-07 08:20] #589 closed

[2018-11-07 11:01] kataras commented on #589
Thank you @dependabot[bot] , v0.7.0 existed but was deleted by the author of that library otherwise it wouldn't be inside our go.mod, now the jade is on v1.0.0 for iris v11.0.3

[2018-11-08 06:10] #436 closed

[2018-11-08 09:58] waghanza opened #604 "Foxify is faling on route 2"
Hi @ardalanamini,

`foxify` return a **404** on https://github.com/the-benchmarker/web-frameworks/blob/master/node/foxify/app.js#L13
@see https://travis-ci.com/the-benchmarker/web-frameworks/jobs/157156855

Regards,

[2018-11-08 12:15] ardalanamini commented on #604
@waghanza what is the request url for this test?

[2018-11-08 12:19] waghanza commented on #604
@ardalanamini `/user/0` on test suite, using `0` as URL param

[2018-11-08 13:15] waghanza commented on #604
@ardalanamini  unfortunately, this is not working
I am on :
+ node  `10.12.0`
+ npm `6.4.1`
+ foxify `0.10.8`

it return **404** on `/user/0` using `.get("/user/:id", (req, res) => res.send(req.params.id))`

[2018-11-11 13:39] #604 closed

[2018-11-12 09:35] waghanza opened #617 "Passing CI, but fail to get results"
Hi,

Actually, test phase test each endpoint once.

Some frameworks passes this step

Actually, following frameworks pass tests, but results could not be computed

+ https://github.com/encode/starlette
+ https://github.com/kennethreitz/responder

I suggest having a more strict CI, testing each endpoint several time (5 for example), to avoid having this case in the future.

@OvermindDL1 How many ru

[2018-11-12 13:16] proyb6 opened #618 "Add GC_MARKERS to all Crystal web frameworks"
Let try adding this to all Crystal Dockerfile and I like to see if there is any improvement to throughput or latency.

[code]

https://github.com/ivmai/bdwgc/blob/master/doc/README.environment

This option is particular useful for heavy computation too that I could shave off a few seconds with no noticeable changes in memory usage.

[2018-11-12 16:59] mattmezza opened #619 "Add fastify (NodeJS)"
+ Language : Javascript Node
+ Repo : https://github.com/fastify/fastify
+ Author : @delvedor @mcollina

[2018-11-12 17:01] mattmezza commented on #619
ops already there, sorry

[2018-11-12 17:01] #619 closed

[2018-11-13 08:40] waghanza commented on #617
@tomchristie @kennethreitz I think this is related to `ulimit`, no ?

[2018-11-13 08:42] waghanza commented on #618
@proyb6 Yo can do this :stuck_out_tongue: but I think we could avoid this.

Why ?

Because, `docker` is just here for a **developper preview** (of results) -> it will be soon on cloud :+1:

[2018-11-13 09:08] waghanza opened #621 "Introduce restana"
+ Language : javascript
+ Repo : https://github.com/jkyberneees/ana
+ Author : @jkyberneees

[2018-11-13 09:31] waghanza commented on #621
Thanks for follow-up. We are comparing frameworks based on a simple implementation

* GET '/' return status code 200 with empty body
* GET '/user/:id' return status code 200 with the id
* POST '/user' return status code 200 with empty body

If you wish to participate, it be :heart:

[2018-11-13 10:33] waghanza commented on #621
@jkyberneees Due to results update, there is a merge conflit. Could you give me write access to your repo, so I can fix this by hand ?

[2018-11-13 10:52] hmarr commented on #589
@kataras thanks for clarifying – I'll make sure we do a better job of handling deleted releases in the future 👌

[2018-11-13 14:22] proyb6 commented on #618
Ah, I remember, will close this then. Thanks!

[2018-11-13 14:22] #618 closed

[2018-11-13 17:43] OvermindDL1 commented on #617
That all depends on the CI, if something like Travis then you will never ever have reliable and fully reproducible results as other services starting and stopping will add all kinds of noise into the test.  If just 'testing' if it works, well I don't think you can setup a lot of connections on travis (nor would you want to) so if using travis then you'd want to test with a lower connection count.

[2018-11-14 13:06] waghanza commented on #621
@jkyberneees I've updated results :tada: https://github.com/the-benchmarker/web-frameworks#full-table

Their are still not **production-ready**, I might be disappointed :stuck_out_tongue:

[2018-11-14 13:09] #621 closed

[2018-11-14 13:32] jkyberneees commented on #621
Thanks @waghanza, really happy to see restana is performing really well on your tests and creates a good precedent for nodejs.

[2018-11-14 18:52] waghanza opened #628 "Add Trevi"
+ Language : swift
+ Repo : https://github.com/Trevi-Swift/Trevi
+ Author : @Yoseob

[2018-11-14 18:55] waghanza opened #629 "Add suave"
+ Language : F#
+ Repo : https://github.com/SuaveIO/suave
+ Author : @ademar

[2018-11-14 18:57] waghanza opened #630 "Add haywire"
+ Language : c
+ Repo : https://github.com/haywire/haywire
+ Author : @kellabyte

[2018-11-14 18:57] waghanza opened #631 "Add Kestrel"
+ Language : C#
+ Repo : https://github.com/aspnet/KestrelHttpServer
+ Author : @loudej

[2018-11-15 05:11] kataras commented on #589
You are welcome @hmarr, if I can help elsewhere don't hesitate to tag my name at any future go-relative issue.

[2018-11-15 09:53] hmarr commented on #589
🙌

And as a first step, we now show the exact problem if we can't perform an update due to an invalid dependency version (e.g. https://github.com/hmarr/dependabot-go-mod-test/issues/2).

<img width="777" alt="screenshot 2018-11-15 at 09 52 58" src="https://user-images.githubusercontent.com/110275/48544796-51e11000-e8bc-11e8-9bc9-d3ab7813c821.png">

[2018-11-15 10:11] waghanza commented on #418
@vladfaust any plan for `atom` ? I'm very impatient

[2018-11-15 14:04] vladfaust commented on #418
There are big plans for Atom Framework, @waghanza. I'm working on it.

It's like 70% ready, I need to wrap it up better with docs and to create the website.

I want Atom to be a beautiful and simple product for a newcomer, when they can just set and go without needing to learn too much about low-level Crystal stuff. However, an app created with Atom must be extensible (i.e. open for low-level chan

[2018-11-17 14:48] skills-up opened #634 "Add Yii2"
Language: PHP 7.x

[2018-11-19 09:57] waghanza commented on #634
Thanks @skills-up, I am curious to see how https://github.com/yiisoft/yii2 could perform.

@qiangxue interested to add `yii2` in this benchmark ?

[2018-11-19 10:02] skills-up commented on #634
I think it will help a lot of new comers who often get confused between
Laravel (often cited as the best) and Yii2 (often cited as the fastest).

Regards,
Gaurav

On Mon 19 Nov, 2018, 3:27 PM Marwan Rabbâa <notifications@github.com wrote:

[2018-11-19 10:06] waghanza commented on #634
or `symfony` <- also cited as the best ;-)

[2018-11-19 10:09] skills-up commented on #634
Yup, but symphony is the base over which Laravel is built. While fastest
ones also include slim and phalcon.

Regards,
Gaurav

On Mon 19 Nov, 2018, 3:36 PM Marwan Rabbâa <notifications@github.com wrote:

[2018-11-19 10:15] waghanza commented on #634
:stuck_out_tongue: sure, do not have the time to add frameworks <- I'm working on new version of this tool producing **production-ready** results (on `cloud` instead of on `docker`)

I'll be glad to merge any contribution :heart:

[2018-11-19 12:06] waghanza opened #637 "Enable HTTP pipeling"
Hi @tomchristie,

I've seen your message on **tfb** list, I didn't know that `HTTP pipelining` is not enabled by default on modern browsers.

I suggest therefore to remove this feature from the benchmark (and optionally have an option that could force to use it).

@OvermindDL1 What do you think ?

Regards,

[2018-11-19 12:39] tomchristie commented on #637
Not quite sure what you mean here - would that option be controlled by server implementations, or would it be two different sets of environments with results for each?

[2018-11-19 15:00] tomchristie commented on #637
I'd argue for turning it off, and not allowing it as an option, otherwise server implementations are still incentivised to turn it on and optimize for it. (Even though in the vast majority of real world cases clients connecting to the servers won't support it.)

To argue against myself for a moment: The one thing that I *do* think is in its favour is that having pipelining enabled in one test case

[2018-11-19 15:18] OvermindDL1 commented on #637
Disabling HTTP pipelining is fine, it is indeed not used by modern browsers, and adding in the TCP setup time for each connection would be consistent with the test (and fine since each are being run on the same machine with the same kernel anyway).

This is true, but then again this is not really a conformance test.

[2018-11-19 15:44] waghanza commented on #637
@OvermindDL1 if we target `browser` (compare performance to choose the **framework** we need to create an app that will talk directly to `browser`), I'm OK with disabling `http pipelining`

@tomchristie I think if we want to make a fair comparison in the use case the app is not directly in relation with customer we **SHOULD** leave this option. I mean if the comparison is made for a **back** app (

[2018-11-19 15:47] tomchristie commented on #637
Either have it on (because it demonstrates robustness, and is a sometimes interesting case) or have it off (because it doesn't represent the common case).

Having it be togglable wouldn't resolve the issue, but just adds extra configuration.

[2018-11-19 17:12] OvermindDL1 commented on #637
Browser is the most common use-case, although with API's that's not usually the browser and HTTP Pipelining can be valuable there...

Maybe it makes sense to do both as different sets of test?

[2018-11-22 14:22] waghanza commented on #637
ok, I will disable the **keep-alive** header :stuck_out_tongue:

[2018-11-22 14:32] tomchristie commented on #637
You want the keep-alive header, you just don't want pipelined requests.
(I think it's been configured in the wrk lua script if I remember correctly?)

[2018-11-22 14:34] waghanza commented on #637
@tomchristie I thought the header was a semi-first step to http pipeling
https://github.com/the-benchmarker/web-frameworks/blob/master/tools/src/client.cr#L44

[2018-11-22 15:39] tomchristie commented on #637
All browsers and many clients will use keep-alive connections.
They won't use pipelining tho.

Looks like it's the `-s #{PIPELINE_GET}` / `-s #{PIPELINE_POST}` sections you'd want to drop.

You'll likely see far lower plaintext throughput in the top cases, but it'll be a more realistic representation.

[2018-11-22 15:50] waghanza commented on #637
`#{PIPELINE_GET}` and `#{PIPELINE_POST}` are just formatters (in mean collect metrics using the same unit -> `ms`)

I have set **keep-alive**, but I have not set further. How pipeling is set then ?

[2018-11-22 16:09] tomchristie commented on #637
@waghanza *Sorry I assumed this was an issue on TFB. I see that's not the case now.*

I don't think that's correct. I believe it's turned off by default, so you're *already* doing the right thing here.

It looks like you need to use `table.concat` to turn it on. (Which you don't want to do)

[2018-11-22 16:13] waghanza commented on #637
Ok, thanks for explaination

[2018-11-22 16:13] #637 closed

[2018-11-26 10:00] waghanza opened #647 "Build fail on 0.3 / master"
Hi @ohler55,

I've disabled `agoo-c` on last run (**pending**), since build fails

@see https://gist.github.com/b5f315d0e066e73772e33f2e328464cf

Context :

+ GCC :  `8.2`
+ Make : `4.1`
+ Dist : `debian`

Regards,

[2018-11-26 10:07] waghanza opened #648 "Avoid (master) CI runs on bot modifications"
Hi,

Some **bots** (`puup`, `renovate` ...) creates branches.

For each branches, travis runs a build.

It is not necessary to run those branch builds, only PR ones

Regards,

[2018-11-26 12:44] ohler55 commented on #647
Fixing that today. The next one uses a tag to fetch the correct commit.

[2018-11-26 13:47] ohler55 commented on #647
Submitted a PR for the update.

[2018-11-27 10:54] waghanza opened #659 "Introduce OAT++"
+ Language : C++
+ Repo : https://github.com/oatpp/oatpp
+ Author : @lganzzzo
+ Website : https://oatpp.io/

[2018-11-27 13:04] ohler55 commented on #357
Personally I prefer the Mozilla style for C in the ClangFormat if forced to make a choice. In general I fall in the category of giving folks some freedom in their style as long as it is consistent. Writing code is an art and can be very personal. It's a pity to force developers into a narrow tightly controlled box.

[2018-11-27 13:15] ohler55 commented on #647
I believe this can be closed.

[2018-11-28 08:43] waghanza opened #661 "Add camping"
+ Language : ruby
+ Repo : https://github.com/camping/camping
+ Author : @_why

@judofyr interested to `PR` ?

[2018-11-28 14:33] waghanza opened #663 "Add kami"
+ Language : go
+ Repo : https://github.com/guregu/kami
+ Author : @guregu

[2018-11-29 17:34] judofyr commented on #661
At the moment I don't have capacity to help with this unfortunately

[2018-11-30 10:22] luislavena commented on #426
Hello @waghanza, sorry for the delay in my response. Wasn't aware these were used somewhere outside my 😁

Please go ahead and use it, and feel free to improve the code or the testing, will be great.

❤️ ❤️ ❤️
Cheers.

[2018-11-30 13:38] yutkin opened #667 "Production readiness marks"
It would be nice if web-frameworks be marked somehow like "production ready" or it is just a "research project". This information is very helpful when you choosing a web-framework for a new project.

[2018-11-30 14:36] waghanza commented on #667
@yutkin I'm working on making it **production-ready**

Feel free to follow for this https://github.com/the-benchmarker/web-frameworks/pull/632 :heart:

I close this issue, fell free to re-open

[2018-11-30 14:36] #667 closed

[2018-12-02 16:12] waghanza opened #670 "Choose a sieger"
Hi @fafhrd91,

You said to me (on `gitter`) that `wrk` compute latency at max throughput, and it could be more realistic to compute it at constant throughput. Having this information, it could be useful to change (or not) of sieger.

There some :

- https://github.com/codesenberg/bombardier
- https://github.com/tsenart/vegeta
- https://github.com/rakyll/hey
- https://github.com/giltene/wrk2
- http

[2018-12-03 20:55] dependabot[bot] opened #673 "Dependabot can't parse your dependabot_20181203-6-1c7e26q"
Dependabot couldn't parse the dependabot_20181203-6-1c7e26q found at `/home/dependabot/dependabot-updater/tmp/dependabot_20181203-6-1c7e26q`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-12-03 20:57] dependabot[bot] opened #674 "Dependabot can't parse your dependabot_20181203-6-1vrfy5d"
Dependabot couldn't parse the dependabot_20181203-6-1vrfy5d found at `/home/dependabot/dependabot-updater/tmp/dependabot_20181203-6-1vrfy5d`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-12-03 21:02] #674 closed

[2018-12-03 21:02] dependabot[bot] opened #676 "Dependabot can't parse your dependabot_20181203-6-1hh2c3k"
Dependabot couldn't parse the dependabot_20181203-6-1hh2c3k found at `/home/dependabot/dependabot-updater/tmp/dependabot_20181203-6-1hh2c3k`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-12-04 04:14] btegs opened #680 "Add Uvicorn"
+ Language : Python 3
+ Repo : https://github.com/encode/uvicorn
+ Author : @tomchristie

[2018-12-04 11:22] #676 closed

[2018-12-04 11:22] dependabot[bot] opened #681 "Dependabot can't parse your dependabot_20181204-6-1hx3kns"
Dependabot couldn't parse the dependabot_20181204-6-1hx3kns found at `/home/dependabot/dependabot-updater/tmp/dependabot_20181204-6-1hx3kns`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-12-04 11:33] jowabels opened #682 "README.md Display Error"
I am not sure if I missed something, but there is no available content from the README in this repository.

![image](https://user-images.githubusercontent.com/14179376/49439197-5b92cf00-f7fb-11e8-86b9-5c2e36d43450.png)

[2018-12-04 13:08] waghanza commented on #682
I'm on it ;-)

There was an error on updating results this morning

[2018-12-04 13:09] waghanza commented on #681
@dependabot For which path is this ?

[2018-12-04 13:10] greysteil commented on #681
That is a truly terrible mangling of this error. Let me get that fixed!!

[2018-12-04 13:11] waghanza commented on #680
@btegs `uvicorn` is **not** a framework.

There is `quart` for example where `uvicorn` is used.

For me using non-framework implementation is out-of-scope here, because if we consider this, why not using raw `crystal` or raw (any language) ?

[2018-12-04 13:13] greysteil commented on #681
Hmmm, looks like something went wrong when Dependabot tried to parse https://github.com/the-benchmarker/web-frameworks/blob/master/go/echo/go.mod. This is definitely a bug on our side - we'll dig in.

Cc @hmarr

[2018-12-04 13:19] waghanza commented on #682
@jowabels I've fixed this, I'll update results soon :heart:

[2018-12-04 13:21] greysteil commented on #681
OK, the awful error message is fixed in https://github.com/dependabot/dependabot-core/commit/ea92673b6121c1f2a01fa437ae47ae13b9b32f5a which is deploying now.

Dependabot failing to parse such a simple `go.mod` needs a separate fix - we'll try and get that shipped today, too.

[2018-12-04 14:47] waghanza commented on #682
@jowabels I've update results https://github.com/the-benchmarker/web-frameworks#full-table

[2018-12-04 14:47] #682 closed

[2018-12-05 11:21] dependabot[bot] opened #685 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/echo/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-12-05 11:21] #681 closed

[2018-12-05 11:22] greysteil commented on #685
An improvement, but still not that helpful. Going to start putting the error message itself in here shortly...

[2018-12-06 00:57] tsenart commented on #670
Observing latency at different request rates (throughput), as opposed to benchmark the maximum capacity of a system, is what Vegeta was built for. Take it for a spin!

[2018-12-07 06:09] waghanza opened #691 "Gitee unavailable"
Hi @johng-cn,

When building `gf` I have often
[code]

I'm builing from europe, is there any mirror I can use ?

Regards,

[2018-12-07 07:21] johng-cn commented on #691
@waghanza Let me have a check.

[2018-12-07 07:31] johng-cn commented on #691
@waghanza
It seems to be networking failure, I tried twice with `docker build` and it all went successfully.
Have an another try?

[2018-12-07 14:03] waghanza commented on #691
@johng-cn In fatc, gitee work but I have observed many timeouts, perhaps because I build on `germany`. Is there any workaround ?

PS : Actually, the CI pass

[2018-12-07 14:23] johng-cn commented on #691
@waghanza I do not really expect the gitee's networking issue.  I'm planning moving repo to github these days, it would be the time taking action.

[2018-12-08 17:57] Puffton opened #698 "Include gccgo in benchmarks for go frameworks?"
Hi, first of all, awesome work on compiling this list of benchmarks! :D

It would be cool to see how compiling with gccgo (with gcc's optimization flags) affects the performance of the go web frameworks, since it's a completely different compiler backend. But perhaps it would be too verbose to list all go frameworks twice?

_The Go 1.10 runtime has now been fully merged into the GCC development so

[2018-12-09 09:41] waghanza commented on #698
Hi,

@Puffton Thanks for this idea, but I think this is more specific than want we are trying to achieve here.

It could be awesome to benchmark `go` **frameworks** on the different optimisations, but it's the goal here.

The goal here is more generalist : one implementation per framework.

This could be done, but in an other repository (could be in this group then) and I will be happy to help :he

[2018-12-09 09:41] #698 closed

[2018-12-09 11:49] renovate[bot] opened #699 "Dependency deprecation warning: postcss-cssnext (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v3.1.0) of dependency `postcss-cssnext` has the following deprecation notice:

`'postcss-cssnext' has been deprecated in favor of 'postcss-preset-env'. Read more at https://moox.io/blog/deprecating-cssnext/`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so conta

[2018-12-09 11:49] renovate[bot] opened #700 "Dependency deprecation warning: postcss-cssnext (pip_requirements)"
On registry `https://registry.npmjs.org/`, the "latest" version (v3.1.0) of dependency `postcss-cssnext` has the following deprecation notice:

`'postcss-cssnext' has been deprecated in favor of 'postcss-preset-env'. Read more at https://moox.io/blog/deprecating-cssnext/`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so conta

[2018-12-09 11:49] renovate[bot] opened #701 "Dependency deprecation warning: postcss-cssnext (nuget)"
On registry `https://registry.npmjs.org/`, the "latest" version (v3.1.0) of dependency `postcss-cssnext` has the following deprecation notice:

`'postcss-cssnext' has been deprecated in favor of 'postcss-preset-env'. Read more at https://moox.io/blog/deprecating-cssnext/`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so conta

[2018-12-09 18:57] #699 closed

[2018-12-09 18:57] #700 closed

[2018-12-09 18:57] #701 closed

[2018-12-09 19:49] renovate[bot] opened #704 "Dependency deprecation warning: postcss-cssnext (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v3.1.0) of dependency `postcss-cssnext` has the following deprecation notice:

`'postcss-cssnext' has been deprecated in favor of 'postcss-preset-env'. Read more at https://moox.io/blog/deprecating-cssnext/`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so conta

[2018-12-10 05:59] waghanza opened #705 "Disable logging on rocket"

[2018-12-12 12:43] waghanza opened #720 "Raw tornado or behind gunicorn"
Hi,

I have asked a question to `gunicorn` community => https://github.com/benoitc/gunicorn/issues/1935

Waiting for a response, we should be able to determine if we need to switch to `gunicorn` for `tornado`

@bdarnell What do you think ?

Regards,

[2018-12-12 12:45] waghanza opened #721 "Use static analysers"
Hi,

There is some static analyser we can use to prevent some technical issues / increase our knowledge

https://docs.gitlab.com/ee/user/project/merge_requests/sast.html

@the-benchmarker/web-frameworks What do you think ?

Regards,

[2018-12-12 14:22] bdarnell commented on #720
Are you asking whether it's realistic to use Tornado without gunicorn (in a production environment)? Yes, of course. I've never used gunicorn with Tornado.

[2018-12-12 15:02] waghanza commented on #720
@bdarnell ok, then if you have any feedback to : _is it valuable to use it ?_, it will be :heart:

[2018-12-14 12:43] #704 closed

[2018-12-15 16:03] bdarnell commented on #720
Gunicorn is primarily a WSGI server. If you use both WSGI and Tornado applications, it's nice to be able to use gunicorn for both so that administration is more consistent. But if you're not already familiar with gunicorn from its use in WSGI, I wouldn't recommend using it with Tornado.

[2018-12-16 19:54] bhansconnect opened #727 "Benchmark Usefulness"
I was just scanning through this repository and noticed how simplistic the benchmark is. Do you think the benchmark is useful even though it is simply returning a blank response or an id? I feel like for the benchmark to be representative of real world performance it is necessary to do something more complicated than this. For example, if you need to build a full sized webpage with some templating

[2018-12-17 16:01] OvermindDL1 commented on #727
I do not think this benchmark is a great point of usefulness for the 99% of web apps out there.  On that same vein I don't think TechEmpower is useful either because many of its implementations are really *really* bad and it still mis-tests certain things.

The best benchmark is the one you build to test your very specific usage.  Even this repo only tests the network stack of each language and no

[2018-12-17 17:09] bhansconnect commented on #727
That makes a lot of sense. If your goal is to make a good benchmarker, then what you are benchmarking is not all that important. I was just looking at the library and the benchmark seemed quite odd to me.

[2018-12-17 17:13] waghanza commented on #727
In fact, it could also be useful to have at least one framework per language (to see how this language / framework is deployed)

[2018-12-19 09:46] waghanza commented on #727
I'll make myself clearer. The perfect (as on my own understanding) **benchmark** is the one made with **your** implementations, I mean as code **you** produce.

A usage of this project / tool could be a simple command line like
[code]

+ MY_CODE : The code you've write for your prupose
+ OUTPUT_EXPECT : A definition of what your code should do

Let me explain myself a bit. Image you have to create

[2018-12-19 10:40] greed2411 commented on #727
I thought the same when I made my first contribution. That this is just a simplistic test. But if not for it being single, I wouldn't have made a single contribution.

 I aspire the repo to grow in future where we can make a dB call or an external API call. These may introduce other ambiguities because of the external dependencies, still I think we should give it a try in the future.

[2018-12-24 09:34] waghanza commented on #670
@OvermindDL1 any suggestion ?

[2018-12-25 02:15] OvermindDL1 commented on #670
Time to benchmark the benchmarkers?  ^.^;

[2018-12-25 20:18] waghanza commented on #670
yeah, and it seem to clarify results :stuck_out_tongue:

[2018-12-26 10:45] waghanza opened #739 "Introduce hug"
+ Language : python
+ Repo : https://github.com/timothycrosley/hug
+ Author : @timothycrosley

[2018-12-27 12:19] #418 closed

[2018-12-30 19:18] waghanza commented on #411
@proyb6 `onyx` (new comer) also use clustering (forking approach)

[2019-01-03 07:52] waghanza opened #745 "Display docker output on CI"
Hi,

It will be great to have stdout/stderr produced by `docker` on CI.

It will be helpful to debug / report issue.

Regards,

[2019-01-04 10:19] amitguptagwl opened #748 "Add Muneem"
+ Language : node
+ Repo : https://github.com/node-muneem/muneem/
+ Author : Amit Kumar Gupta @amitguptagwl

Let me know if I should add more detail. Or if I need to explain its usage.

[2019-01-04 10:53] waghanza commented on #748
@amitguptagwl If you have time to create a `PR` (the implementation is very simple), it will be gladly appreciated

[2019-01-04 11:19] amitguptagwl commented on #748
Yeah sure. I'll update you.

[2019-01-04 11:53] amitguptagwl commented on #748
I'm facing issues installing shard locally. Seems some issue with the latest build of crystal. Will you mind if I submit PR without following these steps;
[code]

[2019-01-04 13:18] waghanza commented on #748
sure, but I could also help install `crystal`

@see https://crystal-lang.org/docs/installation/

[2019-01-04 15:13] amitguptagwl commented on #748
yes that I've tried and raised an issue on their repo https://github.com/crystal-lang/crystal/issues/7265

[2019-01-07 13:44] #748 closed

[2019-01-08 01:29] adals opened #751 "add warp(rust)"
https://github.com/seanmonstar/warp

[2019-01-08 08:43] waghanza commented on #751
It will be awesome to have an `PR` :heart:

[2019-01-08 13:06] dependabot[bot] opened #755 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/chi/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-08 13:43] waghanza commented on #755
Hi @dependabot,

I've recently update `chi` (last release : 12h ago).

Regards,

[2019-01-08 13:45] greysteil commented on #755
Thanks @waghanza.

@hmarr - can you take a look at this one?

[2019-01-08 14:53] hmarr commented on #755
Looks like [this commit](https://github.com/the-benchmarker/web-frameworks/commit/04a4a3ce53b21b7e630caf78653d3a1d247916bb#diff-40316ede2773739cc5371ee064aafb19L3) broke the `go.mod` by removing the `+incompatible` suffix from chi.

As chi is > v1, it either needs `v3` in its import path (which it doesn't appear to have) or it needs to be marked as an incompatible package to work with Go modules.

[2019-01-08 14:55] hmarr commented on #755
(FWIW, I _suspect_ Dependabot would've done this update correctly 😉)

[2019-01-08 15:21] waghanza commented on #755
yes @hmarr, **dependabot** remove this flag, and I merged it ;-)

[2019-01-08 15:22] waghanza commented on #755
edit : it was no **dependabot** bot an other bot @renovatebot

[2019-01-08 15:26] greysteil commented on #755
Not all bots are created equal 😉

[2019-01-09 11:16] dependabot[bot] opened #756 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/echo/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-10 19:44] #755 closed

[2019-01-10 19:44] #756 closed

[2019-01-11 11:20] dependabot[bot] opened #762 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/chi/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-11 11:20] dependabot[bot] opened #763 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/echo/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-11 19:21] waghanza opened #764 "Disable renovate for go"
Hi,

@renovate thanks care of some updates here.

Due to `go` specifics, it remove a necessary flags `+incompatible`.

I suggest to disable `go` for this bot, @dependabot will take care of updates :tada:

Regards,

[2019-01-11 19:21] #762 closed

[2019-01-11 19:21] #763 closed

[2019-01-14 11:27] dependabot[bot] opened #766 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/echo/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-14 11:28] dependabot[bot] opened #767 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/chi/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-14 19:17] #766 closed

[2019-01-14 19:17] #767 closed

[2019-01-15 20:00] #764 closed

[2019-01-15 21:48] waghanza opened #777 "Remove all bots except renovabot"
Hi,

We have several `bots` here.

@dependabot seems to be the more accurate here, we thus need to remove all other configs

Regards,

PS : @dependabot how can I be updated on feature addition on the bot ?

[2019-01-16 07:53] #777 closed

[2019-01-17 08:36] waghanza opened #781 "Keep up-to date with framework versions"
Hi,

We actually have 16 different languages here. Framework version are up-to-date (at least for a majority), thank to @dependabot[bot] :tada:

+ [x] java
+ [ ] nim
+ [ ] c
+ [x] rust
+ [x] ruby
+ [ ] objc
+ [x] javascript
+ [ ] scala
+ [ ] cpp
+ [x] go
+ [x] csharp
+ [x] elixir
+ [ ] swift
+ [x] php
+ [ ] crystal
+ [x] python

@dependabot 6 of 16 languages here could not be track by @dependabot[

[2019-01-17 12:11] #705 closed

[2019-01-22 10:56] waghanza opened #793 "Remove mofuw"
Hi @2vg,

I see that https://github.com/2vg/mofuw repository has been archived.

To maintain consistency of this **benchmark suite**, I have to remove `mofuw` from here

Regards,

[2019-01-22 11:07] 2vg commented on #793
ya, can remove. sorry my bad.

[2019-01-22 14:29] AllanKlaus opened #799 "What's the version of crystal to run project locally?"
Whats the version of Crystal to run the project? I'm running
[code]

And I'm getting this error on every test

[code]

[2019-01-22 14:55] Blacksmoke16 commented on #799
I'm pretty sure this is due to not having `wrk` installed locally.  That should probably be added to the documentation.

I also been having some trouble running this locally:
[code]

It seems whatever framework im testing it fails to connect when going to do the benchmark.

[2019-01-22 15:14] waghanza commented on #799
@Blacksmoke16 seems a weird problem, could you describe your steps ?

[2019-01-22 15:44] Blacksmoke16 commented on #799
I'll look into it more when i get home.  Could just be an outdated `wrk`.

[2019-01-22 15:45] waghanza commented on #799
@Blacksmoke16 yes, or just the version in `master`, I'm taking **4.1.0**

PS : I'll probably change  `sieger`, #670

[2019-01-23 08:05] waghanza commented on #799
I close this, feeling free to re-open if needed

[2019-01-23 08:05] #799 closed

[2019-01-23 08:06] #793 closed

[2019-01-26 00:15] ioquatix commented on #293
I agree.

[2019-01-26 15:53] sourcekick commented on #727
This performance benchmark should clearly state on the front page what it does benchmark.

Also it should make a statement along these lines: we should all keep reminding ourselves that there are many more non-functional aspects to web frameworks and toolkits, such as

- security
- resilience
- modularity with composability
- clarity, think clean code
- input-validation facilities
- test support
-

[2019-01-28 08:55] waghanza commented on #727
sure, we could not pretend to be the ultimate benchmark for 2 aspects :
+ we only use 1 scenario (for now) which is not a **real-word** usage
+ performance is only **ONE** aspect on a technology choice

You can contribute / propose any modification on `README` :heart:

[2019-01-28 09:42] waghanza commented on #670
I think about using http//k6.io

@OvermindDL1  any advice ?

[2019-01-28 18:32] OvermindDL1 commented on #670
I tested k6 in #802 and in short, it's not good.  ^.^;
Overall with the tests of a variety of tools in #802 wrk was still the best overall with apachebench close behind on low thread-counts (though if on many-core CPU's then it started doing pretty badly since it's only single threaded).

[2019-01-28 18:49] OvermindDL1 commented on #670
For note:

Testing latency at a couple of constant throughputs is useful but also testing the maximum throughput of a server significantly matters to see how well it handles the primary failure condition and how well it is able to actually pump through requests as fast as possible.  A ruby server may be able to answer a request in 20 milliseconds if it's only getting one at a time for example, but

[2019-01-29 11:20] dependabot[bot] opened #847 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-29 11:42] waghanza commented on #847
@dependabot this error occurs a lot, but could not be fixed on your side (https://gitee.com can)

it's about network issue (timeout), this happens a lot with this git hosting service

[2019-01-29 11:45] greysteil commented on #847
That's frustrating. I guess we could at least put in some retries for https://gitee.com?

[2019-01-29 20:30] waghanza opened #850 "Hanami is failing"
Hi @jodosha,

`hanami` is failing at boot (I'm on `1.3.1`)

[code]

it appears that `dry-logic` has break something (working with `0.4.2` and not the **last** `0.5.0`

Regards,

[2019-01-29 21:20] #847 closed

[2019-01-30 08:17] jodosha commented on #850
@waghanza Thanks for the ping. We fixed the problem: https://github.com/hanami/hanami/issues/987

[2019-01-30 08:32] waghanza opened #851 "Cache docker containers"
Hi,

**CI** build take a huge amount of time.

This could be reduced by caching containers, solution found in https://github.com/travis-ci/travis-ci/issues/5358#issuecomment-248915326

I'm not sure this will increase a lot build time, since the cache is store on a remote `S3`.

We have to time this.

Regards,

[2019-01-30 09:48] jodosha commented on #850
@waghanza I released `hanami-validations` `1.3.2` to fix this problem. Would you please verify? Thanks.

[2019-01-30 17:10] OvermindDL1 commented on #851
I cache my build container on an S3 server (not amazon's but my own) for various projects and it is *significantly* useful.  I just have a task that rebuilds it whenever related source code changes in the related git repos.

[2019-01-31 11:23] dependabot[bot] opened #855 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-31 15:42] waghanza commented on #855
@dependabot Have you found a solution for this ?

[2019-01-31 15:43] greysteil commented on #855
Shipped the retrying after this issue. *Should* be fixed now...

[2019-01-31 18:53] #855 closed

[2019-02-11 12:57] waghanza commented on #781
@dependabot Is support of any (unchecked) language above planed ?

[2019-02-13 09:45] waghanza opened #920 "Upgrade echo to 4.x"
Hello,

`echo` has been updated to 4.x

@dependabot[bot] does not update major release.

Regards,

[2019-02-14 09:05] whitesource-bolt-for-github[bot] opened #927 "CVE-2018-10237 Medium Severity Vulnerability detected by WhiteSource"
## CVE-2018-10237 - Medium Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>guava-17.0.jar</b></p></summary>

<p>Guava is a suite of core and expanded libraries that include
    utility classes, google's collections, io classes, and much
    much more.

    Guava

[2019-02-14 09:05] whitesource-bolt-for-github[bot] opened #928 "CVE-2011-4969 Medium Severity Vulnerability detected by WhiteSource"
## CVE-2011-4969 - Medium Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.4.2.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>path: /web-frameworks/python/cyclone/src/cyclone/demos/websocket/echo/static/jquery-latest.js</p>
<p>

<p>

[2019-02-14 09:05] whitesource-bolt-for-github[bot] opened #929 "CVE-2012-6708 Medium Severity Vulnerability detected by WhiteSource"
## CVE-2012-6708 - Medium Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.4.2.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>path: /web-frameworks/python/cyclone/src/cyclone/demos/websocket/echo/static/jquery-latest.js</p>
<p>

<p>

[2019-02-14 09:05] whitesource-bolt-for-github[bot] opened #930 "WS-2017-0195 Medium Severity Vulnerability detected by WhiteSource"
## WS-2017-0195 - Medium Severity Vulnerability
<details><summary><img src='https://www.whitesourcesoftware.com/wp-content/uploads/2018/10/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.4.2.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>path: /web-frameworks/python/cyclone/src/cyclone/demos/websocket/echo/static/jquery-latest.js</p>
<p>

<p>L

[2019-02-14 10:23] #930 closed

[2019-02-14 10:24] #929 closed

[2019-02-14 10:24] #928 closed

[2019-02-14 10:24] waghanza commented on #927
@greenlaw110 I might interest you

[2019-02-14 10:27] greenlaw110 commented on #927
@waghanza oops, that's no good. Thank you!

[2019-02-14 21:58] waghanza opened #937 "Introduce SilverEngine"
+ Language : php
+ Repo : https://github.com/SilverEngine/Framework
+ Author : @SilverEngineTeam

[2019-02-15 15:07] #927 closed

[2019-02-15 16:18] gdemir opened #941 "Barak Framework"
+ Language : php
+ Repo : http://github.com/barak-framework/barak
+ Author : http://github.com/gdemir @gdemir
+ A link : http://barak-framework.github.io

[2019-02-15 16:19] #920 closed

[2019-02-15 16:50] waghanza commented on #941
@gdemir a `PR` is welcome

[2019-02-15 17:36] gdemir commented on #941
@askn bu konuya bir el atabilir misin ?

- Varsayılan olarak Türkçe Doküman `README.md`[v4.0.0-guide-default] içerisinde.
- Diğer diller için `guides`[v4.0.0-guides] klasörü içerisinde `README-en.md`, `README-ru.md` gibi düşünüyorum ama vaktim yok.
Ör.: [v4.0.0-guide-en]

Buna nasıl destek bulabiliriz ?

[v4.0.0-guide-default]: https://github.com/barak-framework/barak-framework.github.io/blob/mast

[2019-02-15 21:43] #739 closed

[2019-02-18 13:19] waghanza opened #948 "Use a repo configuration file for dependabot"
Hi,

Since january @dependabot[bot] could be configured locally
https://dependabot.com/docs/config-file/

It could be enhance maintaining process to have a local file for @dependabot[bot] configuration

Regards,

[2019-02-18 19:45] waghanza opened #950 "Introduce fastapi"
+ Language : python
+ Repo : https://github.com/tiangolo/fastapi
+ Author : @tiangolo

[2019-02-18 19:47] waghanza opened #951 "Introduce bocadillo"
+ Language : python
+ Repo : https://github.com/bocadilloproject/bocadillo
+ Author :  @florimondmanca

[2019-02-18 19:49] waghanza opened #952 "Introduce shallot"
+ Language : python
+ Repo : https://github.com/peterpeter5/shallot
+ Author : @peterpeter5

[2019-02-18 20:12] florimondmanca commented on #951
Neat idea! Would love to see how Bocadillo compares to other frameworks. ;-)

Food for thought and implementation ideas: https://github.com/bocadilloproject/benchmarks

[2019-02-18 21:12] waghanza opened #954 "Introduce NestJS"
+ Language : javascript
+ Repo : https://github.com/nestjs/nest
+ Author : @kamilmysliwiec

[2019-02-19 09:11] florimondmanca opened #955 "Document methodology"
The results exposed in the README are interesting, but they are hard to interpret without context.

I think there should be a dedicated document that explains the methodology used in this benchmark:

- Hardware and infrastructure
- Experiment description: what does each framework has to do during the test?
- Any hypotheses and decisions and how they may affect results.

For example, some (all?) fr

[2019-02-19 10:13] waghanza commented on #955
Yes, you're right. I plan to do this, but in the future. It is probably more frustating for contributors not to have all those kind of informations.

I will create a https://readthedocs.org for this, cause methodology, hardware ... could evolve on each release.

[2019-02-19 12:44] waghanza opened #957 "Introduce molten"
+ Language : python
+ Repo : https://github.com/Bogdanp/molten/
+ Author : @Bogdanp

[2019-02-19 20:19] waghanza commented on #951
@florimondmanca With the last `starlette` release (**0.11**), I have a
[code]
using **0.10.6** the code here is OK

[2019-02-19 20:28] florimondmanca commented on #951
Hey @waghanza thanks for reporting. I just spotted that an hour ago too and just released a hot fix in v0.11.1. You can upgrade to v0.11.1 and things should go back to normal!

[2019-02-19 20:52] waghanza commented on #951
I'll leave that to @dependabot[bot] :stuck_out_tongue: (it will create a `PR` for that)

[2019-02-20 08:25] #951 closed

[2019-02-20 11:59] #957 closed

[2019-02-20 13:51] #950 closed

[2019-02-21 08:18] waghanza commented on #781
do you know any SaaS app that take care of dependencies, like @dependabot[bot] ?

@dom96 for `nim`, @mfirry for `scala`, @tanner0101 for `swift`

[2019-02-21 09:19] Nejcc commented on #937
All i can say about this DMVC framework it's fast, easy to learn and great stepping stone  from beginner to advanced  developer.  In general  even people who don't know PHP can theoretically use it  with just few commands via CLI and edit and work on HTML / Css / Sass only.

[2019-02-21 09:24] KingSiller commented on #937
Can you change the Title to   SilverEngine Framework ?

[2019-02-21 09:30] waghanza commented on #937
@KingSiller if you want :stuck_out_tongue:

[2019-02-21 09:31] mfirry commented on #781
For scala, there's https://github.com/fthomas/scala-steward

[2019-02-21 10:34] KingSiller commented on #937
@waghanza  any way to contact you (DM)?

[2019-02-21 10:41] waghanza commented on #937
@KingSiller mail / gitter / discord

[2019-02-21 14:12] tanner0101 commented on #781
Hmm i'm not sure what this means. What does Dependabot do?

[2019-02-21 14:21] waghanza commented on #781
@tanner0101 @dependabot[bot] keeps my up-to-date. It send `PR` in this repo to keep in sync with dependencies

[2019-02-22 03:42] elamje opened #970 "Introduce Coast for Clojure"
+ Language : Clojure
+ Repo : [Coast on GitHub](https://github.com/coast-framework/coast)
+ Author : [Sean Walker](https://github.com/swlkr)
+ Details : This framework is relatively new and Clojure is in dire need of a Django/Rails type of framework for newbies to join the Clojure web community. This project is the best swing I've found on. This would be a huge win to get some publicity and perfor

[2019-02-26 08:28] waghanza commented on #952
seems dead

[2019-02-26 08:28] #952 closed

[2019-02-26 20:14] waghanza opened #987 "Introduce negroni"
+ Language : go
+ Repo : https://github.com/urfave/negroni
+ Author : @urfave

[2019-02-26 20:57] #948 closed

[2019-02-27 21:44] #648 closed

[2019-02-27 21:45] #411 closed

[2019-02-27 21:55] waghanza commented on #851
Cache **MUST NOT** be done, on dependabot branches

[2019-02-27 22:09] #617 closed

[2019-02-27 22:36] dependabot[bot] opened #998 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/kami/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-28 02:07] kalicki commented on #954
NestJS uses by default ExpressJS

[2019-02-28 05:41] waghanza commented on #998
@dependabot What's going on ? I'm I have to sure adding`incompatible` flag

[2019-02-28 05:43] waghanza commented on #954
Welcome back @kalicki. Yes NestJS use ExpressJS (and can use Fastify), but probably TypeScript adds some perfs / usefull usage 👌

[2019-02-28 09:19] greysteil commented on #998
Sorry about that. @hmarr can you take a look?

[2019-02-28 12:07] waghanza opened #1004 "Introduce pakyow"
+ Language : ruby
+ Repo : https://github.com/pakyow/pakyow
+ Author : @bryanp

[2019-02-28 16:56] hmarr commented on #998
Yes, it looks like you do need the `+incompatible` flag. We should've provided a more helpful error message in this issue, though - I'll have a look into what's causing that.

I assume you haven't run a `go get` or a `go build` on this project? In addition to the missing `+incompatible` flag, there are a few other indirect dependencies missing from the `go.mod`, which get automatically populated b

[2019-02-28 17:17] kalicki commented on #954
NestJS with ExpressJS is 10~40ms slower compared to ExpressJS with pure JS

[2019-02-28 17:30] waghanza commented on #954
OK. Let add nest to see this diff 😊.

I have no intention to say that you're wrong, just want to show performance. Moreovever this figures could change depending on version used

[2019-02-28 18:01] kamilmysliwiec commented on #954
It's probably worth adding both examples (Nest with Express and Nest with Fastify)

[2019-02-28 18:08] waghanza commented on #954
@kamilmysliwiec sure both will be awesome

Could you link your stackoverflow answer here ?

[2019-02-28 18:17] kalicki commented on #954
Now yes, it makes sense to compare NestJS with Express vs. Fastify.

[2019-02-28 18:18] kalicki commented on #954
Check: https://stackoverflow.com/questions/47733390/nestjs-vs-plain-express-performance/48226084#48226084

[2019-02-28 18:19] waghanza commented on #954
Glad we are on the same line @kalicki

[2019-02-28 18:26] waghanza commented on #781
@mfirry Thanks for the link above. As I understand, this is a bot made to run locally, is there any service I can use running on top of `scala-stewart` ?

[2019-03-03 12:16] waghanza opened #1016 "Introduce zewo"
+ Language : swift
+ Repo : https://github.com/Zewo/Zewo
+ Author : @paulofaria

[2019-03-03 12:32] waghanza commented on #670
Thanks for all comments here, we will use  `wrk` then

[2019-03-03 12:32] #670 closed

[2019-03-04 11:15] dependabot[bot] opened #1019 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/chi/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-04 11:15] dependabot[bot] opened #1020 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go/iris/go.mod`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-03-04 17:54] waghanza commented on #1020
@dependabot The following `go` **module**
[code]
is not parseable by @dependabot[bot]

A workaround is to add *+incompatible* flag

As I understand `go` **internals**, the `go get`  command is here to maintain the dependency tree.

I think @dependabot[bot] should run `go get` before parsing, no ?

PS : The `go get` creates a `go.mod` file as :
[code]

[2019-03-07 08:13] waghanza opened #1047 "Change onyx URL"
Hi,

 `onyx` has a new home => https://onyxframework.org

Regards,

[2019-03-07 08:15] waghanza opened #1048 "Change responder URL"
Hi,

Use `responder` home, http://python-responder.org instead of https://github.com/kennethreitz/responder

Regards,

[2019-03-07 16:10] #1047 closed

[2019-03-07 16:10] #1048 closed

[2019-03-07 17:56] hmarr commented on #1020
I believe it's actually recommended that you check in the full `go.mod`. Any time you use the `go` tool, the `go.mod` will be generated, so it'd be strange to have to deliberately avoid committing those changes whenever you work on the project.

Additionally, by checking in the full `go.mod`, you pin all dependencies (like the `Gemfile.lock` does in Ruby and the `yarn.lock` does in JavaScript), an

[2019-03-07 17:57] hmarr commented on #1020
It's also worth noting that as Go modules adoption increases, the number of indirect dependencies in your `go.mod` will decline. The indirect dependencies are only there are the libraries that depend on them don't have `go.mod` files.

[2019-03-07 18:12] waghanza commented on #1020
@hmarr I thought that the `Gemfile.lock` was `go.sum` in `go` **word**

[2019-03-07 18:13] hmarr commented on #1020
The `go.sum` only provides package integrity hashes - it doesn't actually lock packages to specific versions. It's solving the same problem the [notary service](https://go.googlesource.com/proposal/+/master/design/25530-notary.md) aims to address.

[2019-03-07 18:56] waghanza commented on #1020
@hmarr Thanks for the link 👌

It is thus new for me, I use to see lock files, `Pipfile` and `Gemfile`, as a solution for dependency tree + hashes.

I'll open a new `PR` to make this on `go` based **framework** here, to homogenize implementations

[2019-03-07 18:57] hmarr commented on #1020
Sounds good! And yeah, Go modules works a bit differently to many other package managers, and takes a bit of getting used to at first.

[2019-03-07 19:05] waghanza commented on #1020
However, a à question about that

Is `go get` version independant ? Or do I have to do this on each go version ?

[2019-03-07 19:10] hmarr commented on #1020
Should be version agnostic. Go 1.12 introduces a new directive in the `go.mod` that specifies the minimum Go version that the module can be built with. If you generate a `go.mod` with 1.12 and you still want to build with 1.11, just change the `go 1.12` line in the `go.mod` to `go 1.11`.

[Here's an example](https://github.com/golang/go/issues/30446) of someone else running into this.

[2019-03-08 08:17] waghanza opened #1056 "Introduce rouille"
+ Language : rust
+ Repo : https://github.com/tomaka/rouille
+ Author : @tomaka

[2019-03-08 08:18] waghanza opened #1057 "Introduce conduit"
+ Language : rust
+ Repo : https://github.com/conduit-rust/conduit
+ Author : @wycats

[2019-03-10 03:10] ewwink opened #1064 "Add uWebSockets.js (Node)"
It claim faster than fasthttp (go) and maybe can beat japronto for requests per seconds :wink:

+ Language : node
+ Repo : https://github.com/uNetworking/uWebSockets.js
+ Author : @uNetworking

![benchmark](https://raw.githubusercontent.com/uNetworking/uWebSockets/master/misc/bigshot_lineup.png)

[2019-03-11 08:12] waghanza commented on #1064
I think this could be categorized as node, since app are written in javascript

[2019-03-11 13:01] waghanza commented on #1064
can we do a non  HTTP1/1 app with **uWebSocket** => without **SSL** ?

[2019-03-11 14:08] ewwink commented on #1064
I don't know, I can't find about that in the [source code](https://github.com/uNetworking/uWebSockets/blob/master/src/HttpResponse.h#L175) and [docs](https://htmlpreview.github.io/?https://raw.githubusercontent.com/uNetworking/uWebSockets.js/master/docs/generated/index.html)

[2019-03-11 17:50] waghanza commented on #1064
I'm not against adding this here, but flagged as experimental since not "native"

[2019-03-12 08:08] #1020 closed

[2019-03-12 08:08] #1019 closed

[2019-03-12 11:19] #998 closed

[2019-03-13 08:41] waghanza opened #1080 "Missed update"
Hi @dependabot,

`restana` was published 3 days ago on npm registry => https://www.npmjs.com/package/restana

This app is referenced here => https://github.com/the-benchmarker/web-frameworks/blob/master/node/restana/package.json and the configuration https://github.com/the-benchmarker/web-frameworks/blob/master/.dependabot/config.yml#L298

Could you investigate ?

Regards,

[2019-03-15 00:57] dlintw opened #1090 "gin's URL is wrong http://gin-gonic.github.io/gin"
For example, the gin's URL is
https://github.com/gin-gonic/gin

not

http://github.com/gin-gonic/gin

[2019-03-15 01:01] dlintw opened #1091 "RTE - routing table extraordinaire"
+ Language : Golang
+ Repo : https://github.com/jwilner/rte
+ Author :  Joe Wilner jhwilner1@gmail.com

[2019-03-15 01:52] greysteil commented on #1080
It looks like you got [this PR](https://github.com/the-benchmarker/web-frameworks/pull/1065) for the `restana` update. Were you expected anything else / am I missing anything?

[2019-03-15 08:07] waghanza commented on #1080
Hi @greysteil,

Seems I have closed the `PR`, but why ?

[2019-03-15 08:07] #1080 closed

[2019-03-15 10:11] waghanza commented on #1090
Hi @dlintw,

The `gin` URL is http here, and you requested for change.

However, either you click on `http` or `https` link, github will redirect you.

Any benefit for this community having `https` instead of `http` (this change the behavior for all frameworks) ?

Regards,

[2019-03-15 10:13] waghanza commented on #1091
Awesome, a `PR` will be :heart: (I'm here to help, if any question)

[2019-03-15 14:12] dlintw commented on #1090
http://gin-gonic.github.io/gin is wrong, it should be https://gin-gonic.com/ now

[2019-03-15 14:14] waghanza commented on #1090
ah ok

[2019-03-15 17:03] #1090 closed

[2019-03-16 17:02] jkyberneees opened #1098 "Add 0http framework"
+ Language : Node
+ Repo : https://github.com/jkyberneees/0http
+ Author : Rolando Santamaria Maso (restana author)

app.js
[code]

package.json
[code]

Dockerfile
[code]

[2019-03-17 15:09] waghanza commented on #1098
@jkyberneees is this a replacement of `restana` ?

[2019-03-17 16:27] jkyberneees commented on #1098
Hi @waghanza, I want this low level library a dependency for restana in the future. For now, please consider it a low level Nodejs HTTP server with routing capabilities. That is as fast as node can be ;)

[2019-03-17 16:29] waghanza commented on #1098
It's a like`turbo` then

[2019-03-17 16:31] jkyberneees commented on #1098
No, this is one is based on Node.js HTTP Server implementation. Unfortunately `turbo` is still not 100% compatible with the low level Node.js interfaces yet.

[2019-03-18 20:41] waghanza opened #1107 "Introduce athena"
+ Language : crystal
+ Repo : https://github.com/Blacksmoke16/athena
+ Author : @Blacksmoke16

[2019-03-22 07:01] waghanza opened #1125 "Enforce conventions"
Hi,

In order to ensure a clean / useful benchmark, we have to take all contributions but :
+ Check for a list of task
+ Check if community conventions are respected
+ Use last version of frameworks
+ ...

I propose to use [danger](https://danger.systems) to check a list of tasks define in a custom file here

Regards,

[2019-03-22 23:08] brunocassol opened #1129 "Remove go/iris"
https://old.reddit.com/r/golang/comments/b481q7/a_warning_about_githubcomkatarasiris/ ([archive](http://archive.fo/kpTx5))

iris author continues to edit issues and ban users that point out legal or technical problems with his framework. Go community in general shuns the project for all the continued wrongdoings of the author.

The lib's [README](https://github.com/kataras/iris/blob/f00af59c017790

[2019-03-22 23:17] brunocassol commented on #1129
For reference:

https://github.com/avelino/awesome-go/pull/1135

[2019-03-23 14:46] Jinfaa opened #1131 "Introduce Buffalo"
+ Language : GO
+ Repo : https://github.com/gobuffalo/buffalo
+ Author : @markbates

[2019-03-24 17:53] waghanza commented on #1129
Hi @brunocassol,

I was not aware of some claims about that.

Even if @kataras (and `iris` community) is not very respectful of any license, I do not think it's our role to ban `iris` and/or `muxie` from here.

What do you think @the-benchmarker/web-frameworks ?

Regards,

[2019-03-24 18:09] vladfaust commented on #1129
Seeing all these discussions, it makes me feel that something's really wrong with that framework author. The simple fact of his backwards changes brings security and code trust issues to the table. Benchmark acts like an advertising for frameworks, and we shall not advertise dangerous things.

[2019-03-25 17:54] #663 closed

[2019-03-26 08:17] waghanza commented on #1129
@kirillDanshin @julienschmidt @kataras it seems you are facing some contradictions here

+ Some claims that `iris` (@kataras) code is base on `httprouter` code (@julienschmidt)
+ Some claims that `iris` (@kataras) could **NOT** be compared to `httprouter`

PS : I have any `go` skills, I just want to understand that discussion

[2019-03-26 08:19] waghanza opened #1135 "Introduce gramework"
+ Language : go
+ Repo : https://github.com/gramework/gramework
+ Author : @kirillDanshin

[2019-03-26 08:38] kirillDanshin commented on #1129
@waghanza iris was rewritten a number of times after that reddit and awesome-go part of story. Back then, iris was obviously based on httprouter, even with the same comments and names, but without any license notices.

@kataras edited so many issues and tried to hide that, including that account recreation etc.

But, first of all, I don’t think it’s a good idea to talk about it again in kataras’ o

[2019-03-26 08:45] waghanza commented on #1129
So, as I understand, the matter is with `iris` author, not with any security or code trust.

[2019-03-26 08:49] vladfaust commented on #1129
@waghanza there are witnesses which claim that author tends to backward change the code (i.e. rewriting old commits).

[2019-03-26 08:51] waghanza commented on #1129
sure @vladfaust

But, the main question here, is :

**SOULD** we remove `iris` from here ?

[2019-03-26 08:59] kirillDanshin commented on #1129
@waghanza not only code, but trust at all. Removing git history back then @kataras broke CI/CD for so much people. That’s why I removed all kataras’ links in awesome-go. Iris also was removed from go Web Framework Benchmark. But I don’t think I can help you with that choice.

[2019-03-27 08:19] waghanza commented on #1129
Does this concern also `muxie`, since same author ?

[2019-03-27 08:29] waghanza opened #1137 "Introduce revel"
+ Language : go
+ Repo : https://github.com/revel/revel
+ Author : @robfig

[2019-03-27 08:34] waghanza opened #1138 "Introduce gokit"
+ Language : go
+ Repo : https://github.com/go-kit/kit
+ Author : @peterbourgon

[2019-03-27 17:05] peterbourgon commented on #1138
I do not consent to including Go kit in any comparison that also includes Iris.

[2019-03-27 17:07] waghanza commented on #1138
I can understand, this subject is discussed in https://github.com/the-benchmarker/web-frameworks/issues/1129

Feel free to give your point of view

[2019-03-27 17:08] waghanza commented on #1129
Also I can see that `iris` is still include https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Go/iris

[2019-03-27 20:10] waghanza commented on #1129
@the-benchmarker/web-frameworks I don't want to take any removal decision alone :stuck_out_tongue:

Please vote / react, and I'll remove / keep `iris` here

Voting stop on 6th of april 2019

Please add a :+1: for removal, and :-1: for keeping

/cc @kataras

[2019-03-27 20:31] kirillDanshin commented on #1135
I don't like the idea to list gramework in a list that maintained by iris author when that benchmark is been used to lie people about performance.

![image](https://user-images.githubusercontent.com/9026581/55109066-fdf5fb80-50e5-11e9-9e88-673bb5f69729.png)

Thanks for your proposal, but sorry, I don't trust gramework's results here even if gramework will be somewhere in the top of the list. I spe

[2019-03-27 20:44] waghanza commented on #1135
@kirillDanshin You mean that you do not want to list `gramework` here because of @kataras is a **member** of this group ?

I do not have the same opinion, but anyone, I can understand it, and even not understood, I accept your choice

Btw,
+ having any framework here is :heart:
+ @kataras is a **member**, not a **maintainer** (we are only 3 maintainers, see https://github.com/orgs/the-benchmarker/

[2019-03-27 21:17] kirillDanshin commented on #1135
@waghanza no. I mean that I don't want to list gramework here because @kataras got a write access here. most of commits here are not signed (a.k.a. Verified), so I don't know what to expect here, keeping in mind multiple git history rewrites, issue editing etc.
I'm sorry I get it wrong and call @kataras a maintainer, I was wrong there.

now, I'm totally with @peterbourgon here (#1138). maybe Peter

[2019-03-27 21:19] waghanza commented on #1135
@kirillDanshin @kataras does not have write access to this repo ;-)

[2019-03-27 21:21] kirillDanshin commented on #1135
_waiting for the "edited by kataras"_ 🤣

[2019-03-27 21:22] waghanza commented on #1135
:stuck_out_tongue:

PS : I will not add `gramework` unless you allow me to :heart:

[2019-03-27 21:29] ww9 commented on #1129
Regardless, you can always add iris back if the author changes his ways and I truly hope he does. I'm all for giving people chances to learn and redeem themselves. But I wouldn't hold my breath, he's been like that for years and any amount of community backlash hardly made any difference so far.

[2019-03-27 21:29] waghanza commented on #1135
Btw, I think having signed commits here, could be a nice feature

[2019-03-27 21:31] kirillDanshin commented on #1135
well, I'll stick with @peterbourgon. if you'll get his approval on #1138, you can add gramework too.

just ping me to review the PR with gramework then: I just found that someone added an old version of gramework in TFB and used a slow json encoding path for json encoding benchmark O_o

[2019-03-27 21:33] waghanza commented on #1135
TFB includes alors `iris` 😆

[2019-03-27 21:34] kirillDanshin commented on #1135
🤷‍♂️no one ask me before adding gramework

[2019-03-27 21:50] kirillDanshin commented on #1129
@ww9 I love the Go community for giving people Nth chance, but how many times kataras ~f-cked~ things up with iris? I remember at least 5 times with different consequences. every time he fixes anything and tries to blame everything on the fact that he is being attacked by everyone around him. some time ago I revisited iris to check if he really fixed any problems and consider unbanning kataras and

[2019-03-28 05:45] waghanza commented on #1135
It's a shame. We try to do the same as TFB here (but simpler)

[2019-03-28 11:56] benstadin opened #1142 "Introduce proxygen"
+ Language : C++
+ Repo : https://github.com/facebook/proxygen
+ Author :

[2019-03-28 12:20] andersfylling commented on #1129
I'm giving a thumbs up for removing Kataras completely tbh. It's not like Muxie and Iris is going to be night and day from a moral stand point. It's the author/owner that's the issue, not the source code.

[2019-03-28 12:27] waghanza commented on #1142
Thanks  @benstadin, I've edited the issue to add the original author

[2019-03-28 12:28] waghanza commented on #1129
@andersfylling I can not ensure that @kataras will **NEVER** has write access, but actually he has not

[2019-03-28 12:34] andersfylling commented on #1129
I got to ask tho; if he does not have write access, why is he a part of the organization? What exactly is his role?

[2019-03-28 12:40] waghanza commented on #1129
As far as I can read, members can :

+ be notified with @the-benchmarker/web-frameworks mention
+ discuss at https://github.com/orgs/the-benchmarker/teams/web-frameworks

@see https://help.github.com/en/articles/permission-levels-for-an-organization

[2019-03-28 12:41] waghanza commented on #1129
My initial purpose of inviting people (@kataras or others) is to gather some people on various communities., mine is only `ruby`

[2019-03-28 12:42] andersfylling commented on #1129
I'll be happy to take over for Kataras to help ensure an unbiased environment.

[2019-03-28 12:47] waghanza commented on #1129
Honestly, I'm not ok to add you **AND** remove @kataras, but I'll be glad to add you and increase our knowledge of `go`

[2019-03-28 12:54] andersfylling commented on #1129
No thank you. I'm worried that would negatively reflect on myself.

[2019-03-28 13:01] waghanza commented on #1129
As you want

[2019-03-28 13:14] waghanza commented on #1129
@tbrand What do you think ?

[2019-03-28 13:47] waghanza commented on #1129
@andersfylling The author you mentioned has not taken position because of @kataras is a member of this organization
@kirillDanshin does not want to add `gramework` here, if @kataras has write access
@peterbourgon does not want to compare `gokit` to `iris`

so no matter of any membership :heart_decoration:

[2019-03-28 14:28] vetcher commented on #1129
There you can find more about iris and his author https://github.com/julienschmidt/httprouter/issues/148

[2019-03-28 14:29] kirillDanshin commented on #1129
@waghanza speaking of membership — I can't understand how a developer that doesn't respect community can represent that community.

[2019-03-28 14:44] waghanza commented on #1129
you got the point :stuck_out_tongue:, but the disrespect was not about this community, but `go` one

it's an other point to argue about @kataras banishment from this `community`, let's make an other issue / debate

[2019-03-28 14:49] kirillDanshin commented on #1129
Just to clarify: I was talking about abstract community of developers, not about the community of this particular benchmark project

[2019-03-29 01:18] ioquatix commented on #1129
I just want to congratulate everyone here for keeping on topic, focused on the issue at hand, and being respectful. It's really awesome. GG everyone.

[2019-03-29 06:22] tbrand commented on #1129
Hi @waghanza, I've read the discussion here and references.
As my understanding, the main question is here.

In my opinion, iris should be removed from this benchmark **without** sending disrespect to the author.
If we allow it, we have to add copy/paste projects (not forked) under the regulation.

I appreciate you guys discuss many about this repository.
I'll put my approval to the pull request.

[2019-03-29 09:42] nbari opened #1145 "Introduce violetear"
+ Language : go
+ Repo : https://github.com/nbari/violetear
+ Author : @nbari

[2019-03-29 10:09] kirillDanshin commented on #1129
@tbrand it’s late to decide whether to “pay disrespect” or not. All kataras’ libraries removed from awesome-go. That’s not a matter of respect, that’s the metter of listening to the community and being honest. Another question that interesting for me is how kataras got the membership? Didn’t anyone search one of many

[2019-03-29 10:33] waghanza commented on #1129
@kirillDanshin I have invited @kataras on this organization on the basis of a participation https://github.com/the-benchmarker/web-frameworks/issues/1129#issuecomment-477577883

But :
+ he has not participate on discussion at the moment
+ any membership is not set in the stone
+ I don not want to decide alone any decision of that kind

[2019-03-29 10:37] kirillDanshin commented on #1129
@waghanza why not to just @-mention folks? People don’t see what you’re trying to do and can’t correct any decision before critical point. Let’s make any decision making wide open to community, then you’ll not need any such “membership”

[2019-03-29 10:57] waghanza commented on #1129
@kirillDanshin

it could be done like that, but it avoid mentioning 18 persons separately :stuck_out_tongue:

That's what I'm trying to do :heart:

[2019-03-29 11:23] kirillDanshin commented on #1129
@waghanza but my proposal avoids situations like this, when you don’t know that guy is banned in a community X, and you invite him to make decisions about projects made with X, or a dangerous project, when you adding both project and author to the benchmark 😁

[2019-03-29 11:46] waghanza commented on #1129
@kirillDanshin sure things, adding a person to this community is not an easy thing, because this community purpose is to make a bridge between other communities.

This remains the questions : how can we add any community members ? how must decide ? ... but, I think we are not (yet) structured for that :stuck_out_tongue_closed_eyes:

BTW, thanks for advices

[2019-03-29 11:51] kirillDanshin commented on #1129
@waghanza you can just use language-specific communities. For Go, ask /r/golang and/or awesome-go

[2019-03-29 11:53] waghanza commented on #1129
@kirillDanshin can I ping from github to reddit ? or should I write a thread on reddit to ?

[2019-03-29 12:01] kirillDanshin commented on #1129
I think, you can create a thread on reddit asking for help with maintaining the Go part. We’ve got a very warm and nice community there. But before this issue’s main question should be answered, I think.

Also, I suggest my help if this issue will be solved.

[2019-03-31 02:59] kataras commented on #1129
Guys relax, the "stolen code" idea is just a defame about Iris. Read the code and stop spreading more lies please. These "fake news" (and I really hate this word but this is the most accurated word to describe these accusations) are more than 3 years old and for the shake of logic, read the [Iris](https://github.com/kataras/iris) code, and muxie's which is created this year and used into Iris. May

[2019-03-31 03:11] kataras commented on #1129
Guys relax, the "stolen code" idea is just a defame about Iris. Read the code and stop spreading more lies please. These "fake news" (and I really hate this word but this is the most accurated word to describe these accusations) are more than 3 years old and for the shake of logic, read the [Iris](https://github.com/kataras/iris) code, and muxie's which is created this year and used into Iris. May

[2019-03-31 06:03] kataras commented on #1129
Guys relax, the "stolen code" idea is just a defame about Iris. Read the code and stop spreading more lies please. These "fake news" (and I really hate this word but this is the most accurated word to describe these accusations) are more than 3 years old and for the shake of logic, read the [Iris](https://github.com/kataras/iris) code, and muxie's which is created this year and used into Iris. May

[2019-03-31 10:01] majidbigdeli commented on #1129
@kirillDanshin @kataras  Muxie is a project that was created this year.
And the project is not stealing, and you can check its code.
You know that at Golang there are currently no complete web-based platforms.
iris is The most complete framework is currently in Golang.
Let me tell you something
The company's executives who I am working on do not agree with all the efforts that I have made to get G

[2019-03-31 10:41] andersfylling commented on #1129
If you just google Iris and find links to issues from stack overflow etc. you will notice that most, if not all, of those, are in fact, deleted. So yeah it is not weird that there's no trace of those contributions. Then there's the part where you rewrite git history to obscure how the code come to be, to begin with..

Let's not forget the references already listed here.

[2019-03-31 14:24] brunocassol commented on #1129
I'm replying to this comment: https://i.imgur.com/Nx4ZiL2.png

@kataras you're really going to continue playing the conspiracy victim card against internet's archive despite the fact that all the problematic issues linked elsewhere are deleted on iris? This saddens me since it shows you haven't learned much. Please take a step back, ponder on your actions, apologize to the community and change you

[2019-03-31 16:26] myannikos commented on #1129
@kataras clearly claims it's the "Fastest web framework" and he doesn't consider fasthttp a web framework, as his comments explain. Perhaps opinions differ on that [*], but the situation is obviously not as you claim.

I don't know where all this animosity comes from, but it's childish, unprofessional and toxic and it's spread on Reddit /r/golang as well now (with someone making a new account  htt

[2019-03-31 17:07] ww9 commented on #1129
Are you sure you're just an outsider?

This [issue](https://github.com/lib/pq/issues/62) ([archive](http://archive.fo/7XAIZ)) tells me that @myannikos was @ghost who has/had write access to https://github.com/kataras/iris as can be seen here: https://github.com/lib/pq/issues/62 ([archive](http://archive.fo/MNDqL))

Not the first time alts poof out of thin air to defend iris, wont be the last I'm s

[2019-03-31 17:14] tsingson commented on #1129
Some comments about fasthttp:
1. As some friends have said, fasthttp is not a "framework". fasthttp is an excellent implementation of high-performance golang http. In the commercial projects I have implemented, fasthttp is used on very important key nodes, high performance and low cost. Required. For this, I am full of respect for the developers and all contributors of fasthttp.

2. As far as I kn

[2019-03-31 17:40] majidbigdeli commented on #1129
@tsingson
fasthttp is an excellent implementation of high-performance golang http.

[2019-03-31 20:37] waghanza opened #1148 "Force id to be numerical"
Hi,

Some implementations here **SHOULD** be considered as `unsecure`

`/users/foo1` could lead to a successful HTTP query

Regards,

[2019-03-31 20:54] waghanza commented on #1148
@ohler55 Could a regexp be used on `agoo-c` ? (or any way to force a constraint)

[2019-03-31 21:00] myannikos commented on #1129
Am So, 31. Mär 2019, um 19:07, schrieb ww9:

Don't be ridiculous.

"ghost" is what github calls everyone who closes their accounts so they can preserve comments such as mine on the pg bug report. It's not one person. I had an older github account and closed it at some point.

This sort of conspiracy talk is what makes both sides look equally crazy.

- mjy
--
  Marinos Yannikos
 mjy@pobox.com

[2019-03-31 22:45] ohler55 commented on #1148
Are you referring to the handler path setup? If so you can set up path for explicit files or for directories. The current example in the benchmark handles any path but it could be made explicit if that is the desired behaviour.

[2019-04-01 07:20] waghanza commented on #1148
@mfirry Thanks for reply on https://github.com/the-benchmarker/web-frameworks/pull/1147

I find a way for `aspnetcore` :stuck_out_tongue: Is there a way to force an URL param to be a numeric - > having a route that match `/user/1` but not `/user/a`

[2019-04-01 09:23] mfirry commented on #1148
Working on it. Will submit a PR for both akka-http and http4s. Is it ok?

[2019-04-01 09:49] waghanza commented on #1148
Yes. I'll work on your `PR` then un order to homogenize behavior for all implementations here

[2019-04-01 12:30] ohler55 commented on #1148
It will take some time to get those features in. TLS is on my roadmap but I hadn't considered akka-http.

As for the filtering of URL paths, I can see a desire on the part of the application to filter with finer granularity but I don't see how it could be perceived as a security issue. After all, the application just needs to look at the path tail (number or string) and decide whether to process o

[2019-04-01 14:55] waghanza commented on #1148
@ohler55

Can `agoo-c` handle a dynamic path (but not `*`) ?

[2019-04-01 14:58] waghanza commented on #1148
@ohler55 This is not for security only, but more to homogenize behaviour between each frameworks

[2019-04-01 15:12] ohler55 commented on #1148
Ahh, okay, the start of the issue suggested handling the `/user/foo1` was unsecure. I'll ignore that comment then.

Agoo supports two pattern matching strings for server filtering as apposed to application filtering. The `*` character matches exactly one path element where path elements are the parts of the path delimited by the `/` character. So `/user/*`will match `/user/foo` but not `/user/foo/

[2019-04-01 15:22] waghanza commented on #1148
`rails` support adding a constraint to route
[code]

[2019-04-01 16:48] waghanza commented on #1148
I do not see think like that. For me it's more a great step forward to make frameworks uniform here, since :
+ it's already implemented in somes (natively)
+ it's seems to be implemented like that in **production** app

Yes

[2019-04-01 16:51] ohler55 commented on #1148
As long as there is a short term option to filter in the app I can get that done fairly quickly.

[2019-04-01 17:02] ww9 commented on #1129
I'd like to apologize to @myannikos for my unfounded accusation. Even though I deleted the message seconds after submitting it once I realized my mistake, everyone subscribed to this thread received the message by e-mail and it's not fair for me to let my mistake slide just because the rest of the internet wont see.

On another note, perhaps you'd like to know that your messages don't seem to be v

[2019-04-01 17:33] majidbigdeli commented on #1129
@ww9
My dear friend, Iris, is just a simple framework. We do not need to hurt another one.
my opinion, Iris is a good framework.
Of course fasthttprouter is faster.
But Iris has the most complete documentation and most examples.
And Kataras has worked hard on this framework.
I do not think it is necessary to remove this project from this repo.

[2019-04-01 17:55] waghanza commented on #1129
FYI, `iris` was removed from **tfb** => https://github.com/TechEmpower/FrameworkBenchmarks/issues/4591

[2019-04-01 18:08] brunocassol commented on #1129
Thanks for the kind words @majidbigdeli, but this issue is not about which framework or lib is fastest.

It's simply so that https://github.com/the-benchmarker/web-frameworks/ maintainers could be a bit more informed about Go ecosystem and suggest that go/iris be removed for now at least.

I have no doubt that @kataras worked hard on his repos and I truly hopes that he changes to a less aggressive

[2019-04-01 18:33] waghanza commented on #1129
@brunocassol Thanks for getting me into this issue known in go eco-system

However, there is a votre opened on this issue, and I'll prefer to let this issue open until https://github.com/the-benchmarker/web-frameworks/issues/1129#issuecomment-477328645 is closed

Regards,

[2019-04-01 21:06] kataras commented on #1129
It's funny that you are still operating so populist with upvotes and downvotes for a task that this is highly and only technical and legal. Like a People's court without anyone of you do the real work, and reveal the truth even if some people don't want to hear, of checking the code. The license is fine and I never stole code from anybody, we just use some external packages like yaml and so on, th

[2019-04-01 21:07] kataras commented on #1129
It's funny that you are still operating so populist with upvotes and downvotes for a task that is highly technical and legal only. Like a People's court without anyone of you do the real work, and reveal the truth even if some people don't want to hear, of checking the code. The license is fine and I never stole code from anybody, we just use some external packages like yaml and so on, this is not

[2019-04-01 21:08] kataras commented on #1129
It's funny that you are still operating so populist with upvotes and downvotes for a task that is highly technical and legal only. Like a People's court without anyone of you do the real work, and reveal the truth even if some people don't want to hear, of checking the code. The license is fine and I never stole code from anybody, we just use some external packages like yaml and so on, this is not

[2019-04-02 07:26] waghanza commented on #1129
Honestly, this post of yours is aggressive.

The purpose of this vote so is more about a community has been hurt by your actions.

As @ww9 and @brunocassol said, any excuses from one committing mistakes is the only way of fix things in a community (deleted issues can not be un-deleted ...)

After seeing the facts, some _not so good_ things have be done in the past. I have not been there and I am n

[2019-04-02 10:02] kataras commented on #1129
Don't you see the fake accounts behind this "community" that I "hurt"...? Anywany... I didn't want to be aggressive to you, you are just a guy trying to do some benchmarks and for some reason want to remove the faster the framework in Go (based on your benchmarks)

[2019-04-02 10:18] kataras commented on #1129
I didn't want to be aggressive to you <3 , you are just a person who is trying to do some benchmarks and for some reason want to remove the fastest framework in Go (based on your benchmarks) from your list, no problem for me.

But, for the facts, I didn't hurt a community because some people upvoted this issue (many of those accounts are fake too). Keep note that Iris has 14200 stars and thousands

[2019-04-02 10:19] waghanza commented on #1129
@kataras I understand your position, but assuming `iris` is the fastest based on this benchmarks **IS** false.

You know that those benchmarks are on **development** (`docker` produces so much noise -> falsey resulsts)

There is a piece of some **production** results we are trying to achiever :
https://github.com/the-benchmarker/web-frameworks/pull/632#issuecomment-445024651

:information_source:

[2019-04-02 10:20] kataras commented on #1129
I understand it, because this I said you "are trying" :) On production it would be even faster and not only in Golang.

[2019-04-02 10:22] waghanza commented on #1129
The comment above is **NOT** showing that :stuck_out_tongue:

`echo` was  fastest

BTW, we are not here to judge you, if you are not agree, you can just give some facts / argue

[2019-04-02 10:24] kataras commented on #1129
![](https://raw.githubusercontent.com/kataras/iris/master/_benchmarks/benchmarks_third_party_source_snapshot_go_23_october_2018.png) that was from some months ago , and I have seen that every time you run the benchmarks the results are changing, but for the majority of changes I have seen, Iris is always first (after httprouter and [muxie](https://github.com/kataras/muxie) **routers** ofc). So `ir

[2019-04-02 10:25] waghanza commented on #1129
Those results are taken from the README right ?

[2019-04-02 10:25] kataras commented on #1129
Exactly, check the history of this repository's README. I was watching them, because that I am sure for that I said above...

[2019-04-02 10:28] waghanza commented on #1129
README =  `docker` = noise, sorry but saying `iris` **IS** the fastest based on `docker` is `fake` news`

BTW, `iris` **COULD** be the fastest, but take noisy results to claim so, is not very scientific

[2019-04-02 10:28] kataras commented on #1129
But if you knew how to read Go you would understand its difference from others from inside the code, i.e gorillamux can't be faster than iris, echo, gin and etc, and you would also see that I couldn't stole something x2 times slower and make it x2 times faster, that makes no sense, if I stole why isn't that framework 'x' the faster one instead?...

[2019-04-02 10:29] kataras commented on #1129
Your README is a noise? So, thanks for removing Iris my friend!

[2019-04-02 10:30] waghanza commented on #1129
Their is two subjects :
+ Implementations are not uniform (I mean respond to exactly the same scenario)
+ Could `iris` be the fastest ?

For the 1/, you can just help, for the 2/ I'm not sure -> I can say neither YES nor NO

[2019-04-02 10:37] kirillDanshin commented on #1129
@kataras I don’t think you stole code of the current version, looks like that’s an old story. Now the problems are false promotion, issue management and user bans (I’ve got a ban too). See what I’ve written before, I still think that iris is pretty cool framework technically, but that current and previous serious problems just making iris out of the community.

[2019-04-02 10:43] kataras commented on #1129
Thanks @waghanza, I agree to that based on your knowedge that seems fine and logically.

@kirillDanshin Iris is a different framework it is not use fasthttp anymore, you know that after v3 I did remove everything and started again, 3 years ago,  right? its success continue to rise even more than before. Anyway, have a good day, I don't have a problem, most of the users like Iris and can understand

[2019-04-02 10:54] kataras commented on #1129
@waghanza remove iris PR is ready, please confirm and merge it: https://github.com/the-benchmarker/web-frameworks/pull/1156. Thanks!

[2019-04-02 10:56] waghanza commented on #1129
@kataras As I've said, I'll remove/keep the 6th of April

[2019-04-02 11:01] kataras commented on #1129
I am not willing to make my users to downvote this, I don't act them like a boss, even if my repo's user managment is strict (and that's the reason all iris users are contributing and not throwing bullshits and racist comments). I don't believe in populist for technical things, this is the wrong way of doing things but it's your project, you are able to ban/remvove any framework

[2019-04-02 11:07] waghanza commented on #1129
@kataras People are your properties ? No matter of what you want, a rule was made, a rule will be respected -> that's honesty

[2019-04-02 11:09] kirillDanshin commented on #1129
@kataras

oh c'mon, stop being so toxic and rude. I'm in programming for more than 10 years.

yeah, I know, and so I don't think you stole any code, altho I did no real research on that.

But when I talk about false advertisements, I talk about the "fastest framework on this earth" description when:

![image](https://user-images.githubusercontent.com/9026581/55397496-05d2f700-554f-11e9-868c-6a55af

[2019-04-02 11:14] waghanza commented on #1129
on the next **tfb** round, their will not be `iris` anymore https://github.com/the-benchmarker/web-frameworks/issues/1129#issuecomment-478680264

[2019-04-02 11:42] andersfylling commented on #1129
What about muxie? It's not like code can be toxic, just the author.

[2019-04-02 11:53] waghanza commented on #1129
Like I said in https://github.com/the-benchmarker/web-frameworks/issues/1129#issuecomment-477328645, the purpose is to remove  `iris` here

I not against removing `muxie`, but it kind of out of scope. Feel free to open an other debate for this :heart:

[2019-04-02 12:10] Strum355 commented on #1129
the amount of gaslighting, backpeddling, assumptions and strawmanning coming from kataras is beyond hilarious. Reasons like this that i use other frameworks

Stars mean nothing. How do we know youre not star botting? People may still be using iris because they either dont know or dont care about the bad history that it had. Nice try at gaslighting, but that was a really bad example you gave

Why d

[2019-04-02 16:04] majidbigdeli commented on #1129
@kataras  @kirillDanshin

I was watching Money Heist. I also offer you this movie.
I've been a .NET programmer for many years. Asp.Net Core is a great and excellent framework.
django is a Python framework that is more popular than all golang frameworks.
All golang frameworks are faster than django. django have 1718 contributions.

We all know that speed is not everything. In a real project, design

[2019-04-02 16:12] Strum355 commented on #1129
@majidbigdeli my issues or not with the code. nor are my issues with the performance of iris. my issues are with who kataras is as a person, what he does, what he has done, and what he says. No one here complains that iris is slow. no one says that iris is slow. iris itself may be a good project for people to use. however, its creator, kataras, is a less than ideal maintainer for the project with

[2019-04-02 16:34] albru123 commented on #1129
I think this conversation has been shifting a bit towards the technical side of thing, however what this should be about (and originally was about) is the ethical side of thing.

To cite @kataras:

This sentence is built on the premise of these benchmarks being purely technical thing, but they are in fact part of the golang community as a whole, guiding people towards certain development path, and

[2019-04-02 16:36] majidbigdeli commented on #1129
@Strum355,  When we use the word stealing and Toxic code. Surely the person gets upset and nervous.
Surely Kataras should be patient. I hope that these problems will end there.
Certainly, nobody needs to apologize.

[2019-04-02 16:47] majidbigdeli commented on #1129
[Code of Conduct](https://golang.org/conduct) . google is a company that has denied Iranians access to golang. Respect has more scope. We should not offend the other.
We are all programmer.
The toxic and stealing word is uncomfortable.

![image](https://user-images.githubusercontent.com/26275762/55420146-916a7900-558b-11e9-8c13-e07b3d7430d3.png)

[2019-04-02 16:57] waghanza opened #1158 "Removing muxie ?"
Hi all,

Since we are debating about `iris`, should we also keep/remove `muxie` ?

https://github.com/the-benchmarker/web-frameworks/issues/1129

Regards,

[2019-04-02 16:59] waghanza commented on #1129
Hi all,

This case is about removing/keeping `iris` here.

Should we keep/remove `muxie` also.

I've open #1158  for this, please stay on focus, we are talking about `iris` and its maintain or not in this list **AND** nothing more.

Regards,

[2019-04-02 19:17] brunocassol commented on #1158
Thanks for opening this issue.
I don't think there's much point in keeping muxie since it belongs to the same author of iris.
Also there's the possibility that other Go projects are reluctant to be listed alongside with muxie in the benchmarks.

regards

[2019-04-02 21:28] waghanza opened #1159 "Introduce hyron"
+ Language : javascript
+ Repo : https://github.com/hyron-group/hyron
+ Author : @thangdjw

[2019-04-02 21:30] waghanza opened #1160 "Introduce Moleculer"
+ Language : javascript
+ Repo : https://github.com/moleculerjs/moleculer
+ Author : @icebob

[2019-04-02 21:32] waghanza opened #1161 "Introude feather"
+ Language : javascript
+ Repo : https://github.com/feathersjs/feathers
+ Author : @daffl

[2019-04-03 07:05] waghanza opened #1162 "Introduce javalin"
+ Language : java
+ Repo : https://github.com/tipsy/javalin
+ Author : @tipsy

[2019-04-03 07:10] waghanza opened #1163 "Introduce restas"
+ Language : commonlisp
+ Repo : https://github.com/archimag/restas
+ Author : @archimag

[2019-04-03 07:12] waghanza opened #1164 "Introduce rest.lo"
+ Language : java
+ Repo : https://github.com/linkedin/rest.li
+ Author : @joshowalker

[2019-04-03 07:13] waghanza opened #1165 "Introduce RestX"
+ Language : java
+ Repo : https://github.com/restx/restx
+ Author : @xhanin

[2019-04-03 07:15] waghanza opened #1166 "Introduce eve"
+ Language : python
+ Repo : https://github.com/pyeve/eve
+ Author : @nicolaiarocci

[2019-04-03 07:16] waghanza opened #1167 "Introduce Resty"
+ Language : java
+ Repo : https://github.com/Dreampie/Resty
+ Author : @Dreampie

[2019-04-03 07:18] waghanza opened #1168 "Introduce grape"
+ Language : ruby
+ Repo : https://github.com/ruby-grape/grape
+ Author : @mbleigh

[2019-04-03 07:20] waghanza opened #1169 "Introduce airlift"
+ Language : java
+ Repo : https://github.com/airlift/airlift
+ Author : @martint

[2019-04-03 07:24] waghanza commented on #955
@florimondmanca There is a list of subject to approach, if you think of anything more ...

+ [ ] Hardware used
+ [ ] Network used
+ [ ] Scenario
+ [ ] Difference from https://www.techempower.com/benchmarks

[2019-04-03 07:27] florimondmanca commented on #955
Sounds good! How about software used, too? Thinking about the Python version and the use of Docker (and its limitations? unless this goes under "Network used"), but there may be more items.

[2019-04-03 07:39] waghanza commented on #955
I think you have to liste them here

[2019-04-03 12:05] hahanein commented on #1129
This is a good point. In light of the values put into practice by powerful entities such as Google or GitHub (Microsoft) the hypocrisy rises to heaven if one decided to go after easy and insignificant targets at random.

Instead one could adopt a code of conduct (maybe even [a version of the Go community's](https://www.contributor-covenant.org/version/1/4/code-of-conduct.html)) or even adopt a spe

[2019-04-03 12:55] waghanza commented on #1129
Hi @hanein,

You are totaly right when you are saying that the only things could led to a removal is that some factual points.

The first part of the story was about @brunocassol writing about the stories made from @kataras.

To be totally (or at least a maximum) objective, we (as a community) need to have facts about that, and some feedbacks from other persons.

That being said, some rules (from

[2019-04-03 20:42] tipsy commented on #1162
👋

Why did you tag me? Need help setting it up?

[2019-04-03 20:49] waghanza commented on #1162
Just wanted to ping you to warn you 😉

Btw, if you want to contribute / implement `javalin` **here** I'll be :heart:

[2019-04-03 21:02] tipsy commented on #1162
I'm busy working on Javalin 3.0, so I think I'll have to sit this one out. Everything you need should be in the docs though, please ping me if you have any questions :)

[2019-04-03 21:16] waghanza commented on #1162
Sure, I'll try, even if my `java` skill stop at `jdk` 6 😆

[2019-04-04 07:17] waghanza opened #1174 "Add violetear to dependabot config"

[2019-04-07 16:35] #1158 closed

[2019-04-07 16:35] #1129 closed

[2019-04-07 16:37] #1145 closed

[2019-04-07 16:40] waghanza commented on #1135
Hi @kirillDanshin, `iris` will be removed in #1183

Do you mind had `gramework` here ?

[2019-04-07 16:41] waghanza commented on #1138
Hi @peterbourgon , `iris` will be removed in #1183

Do you mind had `gokit` here ?

[2019-04-07 16:51] #1174 closed

[2019-04-07 21:16] kirillDanshin commented on #1135
@waghanza you've got my permission, as long as the list is toxic-free, you know. altho, please ping me before merging the PR so I can review if implementation is ok

[2019-04-07 21:16] waghanza commented on #1135
Awesome

[2019-04-08 17:04] peterbourgon commented on #1138
Sounds good, thanks, all fine now.

[2019-04-14 16:22] mahdisml commented on #1064
its stable now .
it have two version :
cpp : https://github.com/uNetworking/uWebSockets
javascript (NodeJS) : https://github.com/uNetworking/uWebSockets.js

i tested nodejs version , it have awesome performance ! it handled more requests than Go-FastHttp and Rust-Actix with less memory usage .
i'm really surprised ! 😨

[2019-04-15 07:39] waghanza commented on #1064
@mahdisml what I meant bu saying `not native`, is that this implementation is not like native one (`node` or `c++`), not related to stability

thus, I'm happy to read any `PR` :heart:

/cc @aichholzer

[2019-04-16 15:43] Blacksmoke16 commented on #1107
I'll have a PR for this soonish.

[2019-04-17 07:59] waghanza opened #1213 "Introduce frappe"
+ Language : python
+ Repo : https://github.com/frappe/frappe
+ Author : @pdvyas

[2019-04-18 11:55] waghanza opened #1223 "Be less strict on dependencies versions"
Hi,

We are displaying `X.Y` version for each framework on `README`

However, we use `X.Y.Z` versions of dependencies (thanks @dependabot to help us keeping them in sync), but this task is too heavy to maintain that I think we **SHOULD** use `X.Y` form

Regards,

[2019-04-19 08:06] waghanza opened #1225 "Upgrade to crystal 0.28"
Hi,

`crystal`  `0.28` has been released on https://hub.docker.com/r/crystallang/crystal/tags

It should be updated here

`Dockerfile` for `crystal` are not **tracked** by @dependabot

Regards,

[2019-04-21 14:40] #1107 closed

[2019-04-24 14:24] vaibhavmule opened #1238 "Introduce masonite"
+ Language : python
+ Repo : https://github.com/MasoniteFramework/masonite
+ Author : @josephmancuso

[2019-04-28 14:00] waghanza commented on #1238
@vaibhavmule if you mind `PR` it'll be awesome

The implementation is very simple `here`

[2019-04-28 16:30] vaibhavmule commented on #1238
it does not have dockerfile, here is PR: https://github.com/the-benchmarker/web-frameworks/pull/1249

[2019-05-01 14:06] waghanza opened #1259 "Introduce toro"
+ Language : crystal
+ Repo : https://github.com/soveran/toro
+ Author : @soveran

[2019-05-02 12:55] waghanza opened #1265 "Introduce cr-melon"
+ Language : crystal
+ Repo : https://github.com/gdotdesign/cr-melon
+ Author : @gdotdesign

[2019-05-02 13:38] waghanza opened #1266 "Introduce salt"
+ Language : crystal
+ Repo : https://github.com/icyleaf/salt
+ Author : @icyleaf

[2019-05-03 11:15] #1266 closed

[2019-05-03 11:15] waghanza commented on #1266
Unmaintained

[2019-05-03 11:50] waghanza opened #1269 "Introduce nameko"
+ Language : python
+ Repo : https://github.com/nameko/nameko
+ Author : @mattbennett

[2019-05-06 10:14] waghanza opened #1271 "Prevent CI breaking"
Hi,

Travis config file `.travis.yml` could be hard to read, so human mistakes could be done.

It could be very valuable for us to validate travis config file with : https://github.com/travis-ci/travis-yml

Regards,

[2019-05-09 00:12] shial4 opened #1279 "Swift 5.0 Kitura-NIO"
You already have a benchmark for Kitura. However, there is an option to lunch kitura under Swift-NIO. It is a totally different implementation. I am curious how would results look like under this environment.

With Kitura, to run on top of Kitura-NIO (instead of Kitura-Net) all you need to do is set an environment variable called KITURA_NIO before building your Kitura application.

+ Language : Sw

[2019-05-09 07:11] waghanza commented on #1279
Interesting, two variants of `kitura`. What does this `swift-nio` offer ?

[2019-05-09 17:02] #1225 closed

[2019-05-09 17:02] dependabot[bot] opened #1283 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. On online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-05-09 18:45] #1283 closed

[2019-05-10 01:19] shial4 commented on #1279
The core comprising of HTTPServer, ClientRequest/ClientResponse and TLS support have been implemented using SwiftNIO. Kitura-NIO uses NIOSSL for TLS support.

SwiftNIO is a cross-platform asynchronous event-driven network application framework for rapid development of maintainable high-performance protocol servers & clients.

For example swift vapor (3+) is built on top of it as well. That's why I

[2019-05-10 13:30] janhenckens opened #1286 "Introduce Yii2"
+ Language : PHP
+ Repo : https://github.com/yiisoft/yii2
+ Author : @yiisoft

[2019-05-10 13:43] waghanza commented on #1286
Thanks @janhenckens, there is already an open issue for yii2

I'll be glad to review any contribution of that kind

Closed as duplicated of https://github.com/the-benchmarker/web-frameworks/issues/634

[2019-05-10 13:43] #1286 closed

[2019-05-14 08:06] waghanza commented on #1279
Hi @shial4,

Thanks for clarification.

As I understand `Kitura-NIO` is therefore an `async` variant of `Kitura`

Feel free to add a   `PR` :heart:

[2019-05-14 10:31] hhxsv5 opened #1305 "Add a PHP network engine Swoole"
+ Language : PHP
+ Repo : https://github.com/swoole/swoole-src
+ Author : @matyhtf

*Build a HTTP server*
[code]

[2019-05-14 10:45] waghanza commented on #1305
any   `PR` is welcome :heart:

[2019-05-17 18:22] #1279 closed

[2019-05-17 18:22] #1238 closed

[2019-05-19 10:48] waghanza commented on #1305
@hhxsv5 @stdex `swoole` is awesome, but it's not a **framework** bu more an **engine** -> a replacement for **ngin/php-fpm**, as I understand.

It could be awesome to add some variant of php frameworks here. I mean **swoole** and **nginx/php-fpm** are 2 ways of doing the same thing.

I propose to run php frameworks in 3 maneers :
+ php-fpm/nginx
+ php-pm
+ swoole

/cc @doanguyen

[2019-05-19 12:17] waghanza commented on #293
@ioquatix Some result using `roda`

|  | Average | 50th percentile | 90th percentile | 99th percentile | 99.9th percentile | Standard deviation |
|-----|----------------:|----------------:|----------------:|----------------:|----------------:|----------------:|
| falcon (0.30.0) | 68.20 ms | 36.83 ms | 58.73 ms | 1200.04 ms | 2599.13 ms | 206621.00 |
| puma (3.12.1) | 1.56 ms | 0.13 ms | 1.03 ms |

[2019-05-19 12:18] ioquatix commented on #293
Something looks very wrong with those results, can you tell me how to reproduce it locally?

[2019-05-19 12:20] ioquatix commented on #293
Testing multiple combinations is logical.

[2019-05-19 12:26] waghanza commented on #293
[code]

However, I think the gap is about **docker**

Some raw results

+ puma
[code]
+ falcon
[code]

I'm convinced that `falcon` is very useful but I'm quite unsatisfied if it is taken as a **replacement**

I'll have to imagine how to make variants :stuck_out_tongue:

[2019-05-19 12:29] ioquatix commented on #293
In the data you give above, falcon has lower overall latency, yet in the results from `roda` the latency is atrocious - what's going on?

[2019-05-19 12:31] waghanza commented on #293
Do not know, the code is the same. **BUT** those results are from a `workstation` machine, not an **isolated** `server`, probably a really big gap :stuck_out_tongue:

[2019-05-19 12:36] ioquatix commented on #293
If `falcon' performance is worse than `puma` by more than a few percent, either there is a bug, or your benchmark is wrong. Please tell me if you find such a situation. Please let me know when you collect data running from same system 👍

[2019-05-19 12:45] Jurigag commented on #1305
Swoole is even more - it provides other servers and clients as well. Also there are MVC frameworks based on Swoole.

[2019-05-19 12:57] waghanza commented on #293
@ioquatix I have just seen that I have a **Broken pipe**.

Perhaps, you could help :stuck_out_tongue:

* Just clone this repo
* `cd` into `ruby/roda`
* replace `puma` with `falcon` in `Gemfile`
* run `bundle install && bundle exec falcon serve --bind http://0.0.0.0:3000 --reuse-port --count $(nproc)`

[2019-05-19 12:59] ioquatix commented on #293
Don't use `--reuse-port`. I will try it out some time this week.

[2019-05-19 13:03] waghanza commented on #293
same ```Errno::EPIPE: Broken pipe```, how can I help ?

[2019-05-19 13:06] ioquatix commented on #293
Run with `falcon --verbose` and give me some log output.

[2019-05-19 13:10] waghanza commented on #293
is there any log file I can upload to any https://gist.github.com/ or else ?

[2019-05-19 13:11] ioquatix commented on #293
It logs everything to console, but if there is no obvious issue, please try prepending `CONSOLE_LOG_LEVEL=debug falcon ...`. It will generate a lot of data.

[2019-05-19 13:14] waghanza commented on #293
I'm on ruby `2.6.2p47`, and I have
[code]

Everything seems to be ok, until a certain point

[2019-05-19 16:00] waghanza opened #1337 "Introduce asgineer"
+ Language : python
+ Repo : https://github.com/almarklein/asgineer
+ Author : @almarklein

[2019-05-19 16:03] waghanza opened #1338 "Introdue nardis"
+ Language : python
+ Repo : https://github.com/yoongkang/nardis
+ Author : @yoongkang

[2019-05-19 21:09] ioquatix commented on #293
I feel like this is a metaphor for life.

[2019-05-19 23:52] yoongkang commented on #1338
Hi, thanks for this, but honestly Nardis isn't ready for benchmarking / general use and hasn't been worked on for a long time.

[2019-05-20 07:33] waghanza commented on #1338
ok. I'll close, feel free to re-open (or ping me) when production-ready :heart:

[2019-05-20 07:33] #1338 closed

[2019-05-20 07:37] waghanza commented on #1305
@Jurigag sure, but `swoole` can also be used in `symfony`, see https://github.com/the-benchmarker/web-frameworks/pull/1336

I didn't mean `swoole` is yet anoter `php-fpm/nginx` alternative, but the fact is `swoole` is **NOT** a framework, but something considered as a toolkit, like [stalette](https://www.starlette.io/) in `python` world -> can be use as a framework and a toolkit for other framewor

[2019-05-22 16:19] danielcasler opened #1353 "Please add Elixir/Erlang"
Please add Elxir/Erlang and Phoenix to the test set:

Elixir: https://elixir-lang.org
Phoenix: https://phoenixframework.org

[2019-05-22 19:21] Jurigag commented on #1305
Yea i guess most likely use it with fastroute or consider using some swoole framework like easyswoole or swoft.

[2019-05-22 23:16] shial4 opened #1354 "[Proposition][Test] new variant - data amount"
I did notice that some frameworks perform really well in benchmarks.
However when you are using them and your data amount/size vary this performance decreases.

I think it would be good to add to the second table column which would describe performance diminish based on how much data was returned.

Cheers,
Shial

[2019-05-23 04:43] waghanza commented on #1353
hi @danielcasler,

This framework are `here` but **disabled**.

The only reason is a `lack` of **elixir** skills 😀

Feel free to add those frameworks :heart:

[2019-05-23 04:46] waghanza commented on #1354
Hi @shial4,

The results are actually based on `docker`.

This usage create**noise**. I mean, results decrease due to `docker`.

I'm working on a version without `docker`

Regards,

[2019-05-23 08:13] waghanza commented on #1305
Hi @Jurigag,

This subject is very interesting. As  `swoole` (but also `php-pm) could be `php-fpm/nginx` **alternatives**, the purpose here is to have :

1. fast-route, with 2 variants (`php-fpm/nginx` /  `swoole`) and why not another
2. swoft, with 1 variant
3. symfony, with 2 variants (`php-fpm/nginx` /  `swoole`) and why not another
...

[2019-05-28 12:03] waghanza opened #1363 "Decompose each frameworks"
Hi,

The purpose of this `PR` is to decrease maintenance complexity.

The idea is to create a `config.yml` file in each **subfolder** / **implementation** to isolate each frameworks.

Regards,

[2019-05-29 06:32] w4-hanggi opened #1365 "Distinguish router(or Middleware) and framework"
The benchmark looks good, but the result is mixed together with router and framework.

The performance of router and framework are very different.
Those routers are light and focusing on parse routes,  bug frameworks has more powerful functions. It doesn't look fair.

[2019-05-29 09:10] waghanza commented on #1365
Hi @w4-hanggi,

I totally agree with your point of view.

I've thought of a solution : tagging each **frameworks** `here`
* full-stack
* router-only
* ...

But this has also to be reflected somewhere and/or be filtered.

Filter could not be done on `github ` side (I'm working on a solution to display results elsewhere).

If you want to tag each **frameworks** `here`, it will be :heart:

[2019-05-29 15:04] jkyberneees commented on #1098
Closing in favor of: https://github.com/the-benchmarker/web-frameworks/pull/1368

[2019-05-29 15:04] #1098 closed

[2019-05-30 04:45] w4-hanggi commented on #1365
@waghanza I'd like to, but I only know about very small amount of these frameworks. like:

fasthttprouter(go): router-only
rails(ruby): full-stack
echo(go):full-stack
beego(go):full-stack
gin(go):full-stack
express(node):full-stack
hapi(node):full-stack
koa(node):middleware
restify(node):full-stack
django(python):full-stack
flask(python):full-stack
spring-boot(java):full-stack
laravel(php):full-st

[2019-05-31 06:52] waghanza opened #1373 "Introduce pippo"
+ Language : java
+ Repo : https://github.com/pippo-java/pippo
+ Author : @decebals

[2019-05-31 06:54] waghanza opened #1374 "Introduce duct"
+ Language : clojure
+ Repo : https://github.com/duct-framework/duct
+ Author : @weavejester

[2019-05-31 06:56] waghanza opened #1375 "Introduce vibe.d"
+ Language : d
+ Repo : https://github.com/vibe-d/vibe.d
+ Author : @s-ludwig

[2019-05-31 06:57] waghanza opened #1376 "Introduce dotweb"
+ Language : go
+ Repo : https://github.com/devfeel/dotweb
+ Author : @devfeel

[2019-05-31 06:58] waghanza opened #1377 "Introduce lift"
+ Language : scala
+ Repo :  https://github.com/lift/framework
+ Author : @indrajitr

[2019-05-31 07:01] waghanza opened #1378 "Introduce swifter"
+ Language : swift
+ Repo : https://github.com/httpswift/swifter
+ Author : @glock45

[2019-05-31 08:05] waghanza opened #1379 "Introduce total.js"
+ Language : javascript
+ Repo : https://github.com/totaljs/framework
+ Author : @petersirka

[2019-06-04 10:06] waghanza opened #1391 "Introduce luminus"
+ Language : clojure
+ Repo : https://github.com/luminus-framework/luminus-template
+ Author : @yogthos

[2019-06-04 10:47] waghanza opened #1393 "Introduce integrant"
+ Language : clojure
+ Repo : https://github.com/weavejester/integrant
+ Author : @weavejester

[2019-06-12 13:55] polarathene opened #1419 "Add documentation about sorting param"
Latency Top 10:

| Language (Runtime) | Framework (Middleware) | Average | 50th percentile | 90th percentile | 99th percentile | 99.9th percentile | Standard deviation |
|---------------------------|---------------------------|----------------:|----------------:|----------------:|----------------:|----------------:|----------------:|
| rust (1.35) | [nickel](http://nickel-org.github.io) (0.11) | 0

[2019-06-12 18:14] waghanza commented on #1419
Hi @polarathene,

You're right.

The rank (if we can say so) is computed from the **50th** percentile.

The main idea was to be as closest as we can to decide which language/framework to use.

As my background is `aws` / `eu-west-1`, the figure of **50th percentile** seems to reflect the real performances ;-)

BTW, any idea / recommendation is :heart:

PS : I will edit the title to reflect main id

[2019-06-13 04:25] polarathene commented on #1419
I was just referring to the table results listed, not in relation to performance/experiences elsewhere.

As noted above with `iron`, `flame` and `agoo-c`, just basing on the median value(50th percentile column) does not seem to ideally represent how they should be ranked/sorted regarding performance?

It's true that as the only metric, the top 50% of responses have better latency, but the 2nd half

[2019-06-13 07:13] waghanza commented on #1419
:tada: Thanks for this

However, be aware that the results are not very `accurate`. I mean, all of this are actually running on a `local ` **docker** and **docker** mess-up the results. After some documentation `PR` and https://github.com/the-benchmarker/web-frameworks/pull/1011, I will work on https://github.com/the-benchmarker/web-frameworks/pull/632 so as the results are not messed-up anymore.

[2019-06-13 07:49] polarathene commented on #1419
Yes I understand, there is a clear warning up top on the README pointing that out. But that would not change anything regarding how results are sorted.

I do understand that the actual results themselves are not stable presently as evident with the test result history in past commits varying widely. I am just interested in more accurately representing how well a framework has performed based on th

[2019-06-13 12:30] waghanza commented on #1419
Feel free to suggest any idea about how to rank/sort :heart:

I have taken ideas from https://github.com/the-benchmarker/web-frameworks/issues/670 and https://github.com/the-benchmarker/web-frameworks/pull/223, but no preference for me :stuck_out_tongue:

------------------------------

I mean, that metrics are computed in a way that prevent any framework to be push on its performance limits :
+ b

[2019-06-13 14:55] david-m-s commented on #446
https://github.com/the-benchmarker/web-frameworks/pull/1418

[2019-06-14 11:53] waghanza commented on #384
@dependabot Which python package manager is supported ?
+ requirements.txt
+ setup.cfg
+ MANIFEST.in
+ Pipfile
+ Poetry

[2019-06-16 13:03] #1271 closed

[2019-06-19 18:09] dalbhat opened #1443 "Yaws"
+ Language : Erlang (Yaws) @waghanza
+ Repo : https://github.com/klacke/yaws
+ Author : klacke

[2019-06-20 07:20] waghanza commented on #1443
@dalbhat Thanks for this, having `erlang` here will be :heart:

[2019-06-20 07:24] dalbhat commented on #1443
I suspect it would perform very highly on the benchmarks. Another thing your benchmark perhaps doesn't test is performance under test/against DDOS attacks etc (I'm super tired and haven't really read into what it tests yet). Erlang webservers and yaws in specific are known for being very, very resistant to attack and being extremely stable.

[2019-06-20 09:51] waghanza commented on #1443
@dalbhat Indeed. This project is about performance checking in general use case :stuck_out_tongue: Actually, there is not plan to add such a feature (check performance in some specific use case / situation), but any idea is :heart:

[2019-06-21 11:41] waghanza commented on #1365
Hi @w4-hanggi,

I've introduced some modularity. Frameworks tags could be written in each `config.yaml` file, for example this one https://github.com/the-benchmarker/web-frameworks/blob/master/scala/config.yaml

If you want you can create a `PR` to add a markup on this yaml, for example
[code]
so I can update the code base to display them :stuck_out_tongue:

No matter if this list is complete, any

[2019-06-30 14:03] waghanza opened #1481 "Add variant"
Hi,

This project goal is to test framework performance.

Unless for **compiled** language, there is many ways to serve an application.

For example, in `ruby` we can serve HTTP using [puma](https://github.com/puma/puma/) or [falcon](https://github.com/socketry/falcon)

The default `standard` for **rails** (in `ruby`) is `puma`, but it could also be interesting to test performance when using `falc

[2019-06-30 14:03] waghanza commented on #293
Closing in favor of https://github.com/the-benchmarker/web-frameworks/issues/1481

[2019-06-30 14:03] #293 closed

[2019-06-30 14:05] waghanza commented on #292
Closing in favour of https://github.com/the-benchmarker/web-frameworks/issues/1481

[2019-06-30 14:05] #292 closed

[2019-07-01 04:54] waghanza commented on #446
@david-m-s spring and spring-boot are the same ?

[2019-07-01 10:41] david-m-s commented on #446
I just searched for someone that had put it in a concise way. From https://www.baeldung.com/spring-vs-spring-boot:

"Spring Boot is basically an extension of the Spring framework which eliminated the boilerplate configurations required for setting up a Spring application.

It takes an opinionated view of the Spring platform which paved the way for a faster and more efficient development eco-system

[2019-07-01 13:58] waghanza commented on #446
ok understood, `spring-boot` is then `spring` but with a more efficient eco-system

I think, then, it could be intersting to have both here :
+ To see the performance gap of the `-boot` part
+ To see the differences between each codebase

But, it will be good to add this response into a documentation

[2019-07-07 00:27] javidoweb opened #1502 "Add Swoft which is based on PHP & Swoole"
+ Language : php
+ Repo : https://github.com/swoft-cloud/swoft
+ Author :

[2019-07-07 09:12] waghanza commented on #1502
@javidoweb Thanks, any `PR` is welcome :heart:

I'll also try to add variants :stuck_out_tongue: (comparing `swoole` as a platform on different frameworks) on https://github.com/the-benchmarker/web-frameworks/issues/1481)

Indeed, comparing any `swoole` based **framework** with php/fpm` / `nginx` is **NOT** relevant for me

[2019-07-08 07:38] waghanza opened #1505 "Introduce BlackSheep"
+ Language : python
+ Repo : https://github.com/RobertoPrevato/BlackSheep
+ Author : @RobertoPrevato

[2019-07-08 13:23] #1223 closed

[2019-07-08 13:57] #1363 closed

[2019-07-11 18:00] ozkansen opened #1528 "Flask site update"
Hi,

Python / Flask main site changed adress https://palletsprojects.com/p/flask/

Thanks

[2019-07-11 18:05] waghanza commented on #1528
@ozkansen Thanks, good catch

FYI : This information is located in https://github.com/the-benchmarker/web-frameworks/blob/master/python/flask/config.yaml#L2

[2019-07-11 19:56] ozkansen commented on #1528
Readme.md file in line 182 and 285
this link gives https error
| `python` (`3.7`) | [flask](https://flask.pocoo.org)

thanks @waghanza , i follow your work

[2019-07-12 05:37] #1125 closed

[2019-07-12 05:46] waghanza commented on #1528
@ozkansen I forget to mention that, you have to run `bon/make config` for `README.md` to be updated (**SHOULD** not be committed)

[2019-07-13 12:59] waghanza opened #1535 "Ask author consent for new frameworks"
Hi @the-benchmarker/web-frameworks,

I want to ask for explicit consent of frameworks author, or any community member (that has write access) before adding a framework here.

I think this could be very valuable feature for this project and could let us create a respectful community.

Regards,

[2019-07-13 13:01] waghanza commented on #1535
Of course, any author can bring his framework here, and any PR could be argued as an explicit consent to be listed here

[2019-07-14 05:29] #1528 closed

[2019-07-15 15:42] dependabot-preview[bot] opened #1544 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/hapi/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @depe

[2019-07-15 15:42] dependabot-preview[bot] opened #1545 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/fastify/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @d

[2019-07-15 15:42] dependabot-preview[bot] opened #1546 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/0http/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dep

[2019-07-15 15:42] dependabot-preview[bot] opened #1547 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/muneem/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @de

[2019-07-15 15:42] dependabot-preview[bot] opened #1548 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/polkadot/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @

[2019-07-15 15:42] dependabot-preview[bot] opened #1549 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/rayo/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @depe

[2019-07-15 15:43] dependabot-preview[bot] opened #1550 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/restify/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @d

[2019-07-15 15:43] dependabot-preview[bot] opened #1551 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/express/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @d

[2019-07-15 15:43] dependabot-preview[bot] opened #1552 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/foxify/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @de

[2019-07-15 15:43] dependabot-preview[bot] opened #1553 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/koa/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @depen

[2019-07-15 15:43] dependabot-preview[bot] opened #1554 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/turbo_polka/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mentio

[2019-07-15 15:43] dependabot-preview[bot] opened #1555 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/restana/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @d

[2019-07-15 15:43] dependabot-preview[bot] opened #1556 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/javascript/polka/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

You can mention @dep

[2019-07-15 15:53] #1544 closed

[2019-07-15 15:53] #1545 closed

[2019-07-15 15:53] #1546 closed

[2019-07-15 15:53] #1547 closed

[2019-07-15 15:53] #1548 closed

[2019-07-15 15:53] #1549 closed

[2019-07-15 15:53] #1550 closed

[2019-07-15 15:53] #1551 closed

[2019-07-15 15:53] #1552 closed

[2019-07-15 15:53] #1553 closed

[2019-07-15 15:53] #1554 closed

[2019-07-15 15:53] #1555 closed

[2019-07-15 15:53] #1556 closed

[2019-07-18 07:02] waghanza commented on #1505
Hi @RobertoPrevato,

Are you OK that we add `blacksheep` on this list ?

Regards,

[2019-07-18 07:08] waghanza commented on #1502
Hi @stelin @huangzhhui @inhere,

Are you OK to include `swoft` in this list ?

Regards,

[2019-07-18 07:10] waghanza commented on #1443
Hi @klacke @vinoski,

Are you OK to include `yaws` in this list ?

Regards,

[2019-07-18 07:11] waghanza commented on #1393
Hi @weavejester,

Are you OK to include `integrant` in this list ?

Regards,

[2019-07-18 07:12] waghanza commented on #1391
Hi @yogthos,

Are you OK to include `luminus` in this list ?

Regards,

[2019-07-18 07:14] waghanza commented on #1379
Hi @petersika,

Are you OK to include `totaljs` in this list ?

Regards,

[2019-07-18 07:16] RobertoPrevato commented on #1505
Hi @waghanza,
Sorry for taking so much time to answer! In these days I've been very busy with other activities and I forgot to write you back.

Yes, please feel free to add my web framework. I am [reviewing the PR](https://github.com/the-benchmarker/web-frameworks/pull/1516/commits/77988ece4df6ab124a9c70e2011ebd51f8875c96), and my only doubt is that all methods are only returning an empty string c

[2019-07-18 07:16] waghanza commented on #1378
Hi @glock45 @julien-c @Vkt0r,

Are you OK to include `swifter` in this list ?

Regards,

[2019-07-18 07:18] inhere commented on #1502
Hi @waghanza

O(∩_∩)O~, we will be very happy if we can show more people in this list to know us.

Thank you very much recommend!

[2019-07-18 07:41] stelin commented on #1502
@waghanza
If Swoft can join this list, That is very good!

[2019-07-18 07:43] waghanza commented on #1505
Hi @RobertoPrevato,

In fact, the rules are simple (3 endpoints) @see https://github.com/the-benchmarker/web-frameworks/issues/221#issue-328459520

The code is complete on `PR`, `CI` test if each framework implement those 3 endpoints

Regards,